<template>
  <q-page>
    <keep-alive>
      <chat-room v-if="chat " :chat="chat" :key="chat.id"/>
      <div v-else class="fixed-center text-center">
        <h5>
          Loading...
        </h5>
        <q-btn color="secondary" outline icon-right="fa fa-comments" @click="$router.replace('/chats')" >
          Go to Chats
        </q-btn>
      </div>
    </keep-alive>
    <!-- <q-page-sticky :offset="[10, 20]" position="top-left">
      <transition appear enter-active-class="animated flash" leave-active-class="animated fadeOut">
        <q-btn v-if="hasFiles"
               round
               flat
               size="md"
               color="secondary"
               icon="far fa-file"
               @click="$router.push({path:`/chats/${chat.id}/files`})"
        >
          <q-tooltip>
            Show Files
          </q-tooltip>
        </q-btn>
      </transition>
    </q-page-sticky> -->
  </q-page>
</template>

<script>
import chatRoom from 'components/chat-room';
import { mapGetters } from 'vuex';

export default {
  name: 'ChatIDPage',
  components: { chatRoom },
  computed: {
    ...mapGetters(['chatById']),
    chat() {
      return this.chatById(this.$route.params.id);
    },
    hasFiles() {
      if (this.chat && this.chat.Files) {
        return this.chat.Files.length;
      }
      return 0;
    }
  }
};
</script>
