<template>
  <q-page>
    <div>
      <div class="row">
        <div class="col-lg-8 col-sm-12 offset-lg-2">
          <q-list no-border link inset-delimiter >
            <q-list-header class="text-center">Recent Chats</q-list-header>
            <chat-link
              v-for="chat in chats"
              :key="chat.id"
              :chat="chat"
            />
          </q-list>
        </div>
      </div>
      <q-page-sticky :offset="[28, 18]" position="bottom-right">
        <new-chat-btn/>
      </q-page-sticky>

    </div>
  </q-page>
</template>

<script>
import chatLink from 'components/chat-link';
import newChatBtn from 'components/new-chat-btn';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'ChatPage',
  components: { chatLink, newChatBtn },
  computed: { ...mapGetters(['chats']) },
  created() {
    // this.fetchUsers();
  },
  methods: {
    ...mapActions(['fetchUsers'])
  }
};
</script>
