<template>
  <q-page padding>
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <q-search v-model="terms"
                  float-label="Search FAQ"
                  clearable
                  placeholder="start typing any keywords"
        />
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <q-list >
          <q-collapsible
            v-for="(faq, index) in faqs"
            :icon="faq.icon"
            :label="faq.label"
            :key="index"
            separator
            group="faq"
          >
            <div class="text-justify" v-html="faq.content"/>
          </q-collapsible>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
import Fuse from 'fuse.js';
export default {
  name: 'FaqPage',
  data() {
    return {
      terms: '',
      fuseOptions: {
        keys: [{ name: 'label', weight: 0.2 }, { name: 'content', weight: 0.5 }],
        distance: 500,
        threshold: 0.4
      },

      faqsAll: [
        {
          label: 'Privacy Policy and Terms',

          icon: 'fal fa-file-alt',
          content: `Your privacy matters a great deal to us. Please visit <q-icon name="fal fal-external-link"></q-icon> <a target="_blank" href="https://letsorganise.uk/privacy-and-terms">Privacy and Terms</a> 
          for full details.`
        },
        {
          label: 'Send Join Invitation',
          icon: 'fal fa-user-plus',
          content: `Navigate to Admin and Invtation, click on the invite new user
          button at the bottom right. <br> Enter a valid email and select a union branch and
          invitation expiary from the menu. An email will be sent to the given email address.`
        },
        {
          label: 'Extend Join Invitation',
          icon: 'fal fa-user-clock',
          content: `Navigate to Admin and Invtation, in the user invitation table action column will have a button to extend the invitation option.
           A new email will be sent to the given email address.`
        },
        {
          label: 'Create a new chat conversation',
          icon: 'fal fa-comments',
          content: `Navigate to Chat, on the left hand side menu click on new chat, add a chat name and search for the person you want to chat with.
          After you press OK they will receive an email notifictaion that you have added them to this chat conversation.`
        },
        {
          label: 'Add a user to a chat conversation',
          icon: 'fal fa-comments',
          content: `Within a chat page, a small 'burger menu' appears on the top right conner. Open the menu, and click on the person-plus icon, 
          search and add a person to the chat.`
        },
        {
          label: 'Uplead a file in a chat conversation',
          icon: 'fal fa-file',
          content: `Within a chat page, a small 'burger menu' appears on the top right conner. Open the menu, and click on the file icon, 
          File upload dialog will appear select a file to attach and press upload once attached.`
        },
        {
          label: 'Leave a chat conversation',
          icon: 'fal fa-comments',
          content: `Within a chat page, a small 'burger menu' appears on the top right conner. Open the menu, and click on the person-minus icon, 
          confirm and leave the chat, your files and messages will still be visible in the chat.`
        },
        {
          label: 'Delete a chat conversation',
          icon: 'fal fa-comments',
          content: `Chat conversation is automatically deleted when the last person leaves the chat.`
        },
        {
          label: 'View files in a chat conversation',
          icon: 'fal fa-comments',
          content: `If there is any files attached by any of the users, a file icon will appear on the top left corner of
          the chat page. Click to view all the files attached to that chat.`
        }
      ]
    };
  },
  computed: {
    faqs() {
      if (!this.terms) {
        return this.faqsAll;
      } else {
        const results = this.fuse.search(this.terms);
        return results.length
          ? results
          : [
            {
              label: 'Nothing found for this search',
              icon: 'fal fa-frown',
              content: `Please contact us through the chat or email. We'll try our best to answer your questions.`
            }
          ];
      }
    }
  },
  created() {
    this.fuse = new Fuse(this.faqsAll, this.fuseOptions);
  },
  methods: {
    // search() {
    //   this.faqs = this.fuse.search(this.terms);
    // },
    fuse() {}
  }
};
</script>
