<template>
  <q-page padding>
    <div class="row gutter-md">
      <div class="col-md-6 col-sm-12">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            {{ group.name }} ({{ group.type }})
            <q-btn v-if="adminCanUpdate" color="positive" class="float-right" @click="$refs.addGroupUserModal.open()">Add User</q-btn>
          </q-card-title>
          <q-card-main>
            <table class="q-table">
              <thead>
                <tr>
                  <th class="text-left">User Id</th>
                  <th class="text-left">Permission</th>
                  <th class="text-right">Update</th>
                  <th class="text-right">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in group.Users" :key="user.id">
                  <td class="text-left">{{ user.id }}</td>
                  <td class="text-left">{{ user.GroupUsers.permission | formatPermission }}</td>
                  <td class="text-right">
                    <q-icon :disabled="!adminCanUpdate" name="far fa-user-edit" class="cursor-pointer" @click.native="updatePermissions(user)">
                      <q-tooltip>Update Permission</q-tooltip>
                    </q-icon>
                  </td>
                  <td class="text-right">
                    <q-icon :disabled="!adminCanDelete" name="far fa-user-times"
                            color="negative" class="cursor-pointer"
                            @click.native="removeUser(user)"
                    >
                      <q-tooltip>Remove from group</q-tooltip>
                    </q-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </q-card-main>
        </q-card>
      </div>
      <div class="col-md-6 col-sm-12">
        <q-card >
          <q-card-title class="bg-secondary text-grey-3">
            Attached Sites
            <q-btn v-if="adminCanUpdate" color="positive" class="float-right" @click="$refs.addSiteGroupsModal.open()">Add Site</q-btn>
          </q-card-title>
          <q-card-main>
            <table class="q-table">
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-right">City</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="site in group.Sites" :key="site.id" @click="gotoSite(site.id)">
                  <td class="text-left">{{ site.name }}</td>
                  <td class="text-right">{{ site.city }}</td>
                </tr>
              </tbody>
            </table>
          </q-card-main>
        </q-card>
      </div>
      <add-user-to-group-modal ref="addGroupUserModal" :group="group" @success="loadGroup" />
      <add-site-to-groups-modal ref="addSiteGroupsModal" :group="group" @success="loadGroup" />
    </div>
  </q-page>
</template>

<script>
import addUserToGroupModal from 'components/add-user-to-group-modal';
import addSiteToGroupsModal from 'components/add-site-to-group-modal';
import { mapGetters } from 'vuex';

export default {
  name: 'Group',
  components: { addUserToGroupModal, addSiteToGroupsModal },
  data() {
    return {
      group: {},
      isActive: false
    };
  },
  computed: {
    ...mapGetters(['isAdmin']),
    adminCanUpdate() {
      return this.$h.canUpdate(this.isAdmin);
    },
    adminCanDelete() {
      return this.$h.canDelete(this.isAdmin);
    }
  },
  watch: {
    $route: function(newRoute) {
      if (this.isActive) {
        this.loadGroup();
      }
    }
  },
  activated() {
    this.isActive = true;
    this.loadGroup();
  },
  deactivated() {
    this.isActive = false;
  },
  created() {
    this.loadGroup();
  },
  methods: {
    loadGroup() {
      const router = this.$router;
      return this.$http({
        url: '/groups/' + this.$route.params.id + '?include=users:id&include=sites:name:id:city',
        method: 'get'
      })
        .then(resp => {
          this.group = resp.data;
        })
        .catch(({ response }) => {
          // console.error(JSON.stringify(response.data));
          if (response.data.status === 401) {
            this.q.notify("You don't heve permission to view this group.");
            router.back();
          }
        });
    },
    gotoSite(siteId) {
      this.$router.push({ path: `/membership/sites/${siteId}` });
    },
    removeUser(user) {
      if (!this.adminCanDelete) {
        return;
      }
      this.$q
        .dialog({
          title: 'Remove User?',
          message: 'Do you want to remove user from the group?',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Remove'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.$http({
            url: '/groups/' + this.$route.params.id + '/user/' + user.id,
            method: 'delete'
          })
            .then(() => {
              this.loadGroup();
            })
            .catch(({ response }) => {
              // console.error(JSON.stringify(response.data));
              if (response.data.status === 401) {
                this.$q.notify("You don't heve permission to edit this group.");
              }
            });
        });
    },
    updatePermissions(user) {
      if (!this.adminCanUpdate) {
        return;
      }
      this.$q
        .dialog({
          title: 'Update User Permission?',
          message: 'Do you want to Update User Permission?',
          color: 'primary',
          options: {
            type: 'radio', // or 'checkbox' / 'toggle'
            model: user.GroupUsers.permission, // Array when checkbox/toggle! (like '[]')
            items: [
              { label: 'Read', value: 4 },
              { label: 'Read/Update', value: 5 },
              { label: 'Read/Update/Create', value: 6 },
              { label: 'Read/Update/Create/Delete', value: 7 }
            ]
          },
          ok: {
            color: 'positive',
            label: 'Update'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(permission => {
          console.error(permission);
          this.$http({
            url: '/groups/' + this.$route.params.id + '/user/' + user.id,
            method: 'put',
            data: { permission }
          })
            .then(() => {
              this.loadGroup();
            })
            .catch(({ response }) => {
              // console.error(JSON.stringify(response.data));
              if (response.data.status === 401) {
                this.$q.notify("You don't heve permission to edit this group.");
              }
            });
        });
    }
  }
};
</script>
