<template>
  <q-page padding>
    <div class="row">
      <div class="col-lg-8 col-sm-12 offset-lg-2">
        <group-table :groups="groups"/>
      </div>
    </div>
    <q-page-sticky :offset="[28, 18]" position="bottom-right">
      <q-btn color="positive" @click="$refs.groupModal.open()">
        New Group
        <q-tooltip>create new Group</q-tooltip>
      </q-btn>
    </q-page-sticky>
    <group-modal ref="groupModal" />
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import groupModal from 'components/group-modal';
import groupTable from 'components/group-table';
export default {
  name: 'GroupsPage',
  components: { groupTable, groupModal },
  computed: {
    ...mapGetters(['groups'])
  },
  created() {
    this.fetchGroups();
  },
  methods: {
    ...mapActions(['fetchGroups'])
  }
};
</script>
