<template>
  <q-page padding>
    <div v-if="allowed">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2 col-sm-12">
          <h4>Welcome to Let's Organise Union HUB</h4>
          <p class="light text-certer">Password must be at least <strong> 10 cahracters</strong>.
          Anything matchig with the most common password list will get <em>rejected</em> automatically for security reasons.
          Combination of words and phrases are best candidates for a good password.
          </p>
        </div>
      </div>
      <div class="row gutter-md" style="margin-top: 10px;">
        <div class="col-md-6 offset-md-3 col-sm-12 form">
          <q-stepper ref="stepper" v-model="currentStep">
            <!-- Step: -->
            <q-step default title="Weclome" subtitle="Select a username">

              <q-field :error="$v.id.$error" error-label="ID is too small or already in use">
                <q-input
                  v-model="id"
                  float-label="ID*"
                  placeholder="@userid CANNOT be changed later"
                  @input="sanitizeUserId"
                />
              </q-field>
              <q-field :error="$v.password.$error" error-label="password must be 10 cahracters, and not a common one">
                <q-input v-model="password" float-label="Password*" type="password"/>
              </q-field>
              <q-field :error="$v.repeat.$error" error-label="Passwords don't match.">
                <q-input v-model="repeat" float-label="Repeat Password*" type="password" />
              </q-field>
              <q-stepper-navigation class="float-right">
                <q-btn color="primary" label="next" @click="firstStep" />
              </q-stepper-navigation>
            </q-step>

            <!-- Step: -->
            <q-step title="Details" subtitle="Create a profile">
              <q-field :error="$v.title.$error" error-label="Please select a title">
                <q-select v-model="title" :options="titles" float-label="Title*" />
              </q-field>
              <q-field :error="$v.firstName.$error" error-label="Please enter First Name">
                <q-input v-model="firstName" float-label="First Name*" @input="firstName = capitalize(firstName)" />
              </q-field>
              <q-field :error="$v.lastName.$error" error-label="Please enter Last Name">
                <q-input v-model="lastName" float-label="Last Name*" @input="lastName = capitalize(lastName)" />
              </q-field>
              <q-input v-model="mobile" float-label="Mobile" />
              <q-stepper-navigation class="float-right">
                <q-btn flat label="Back" @click="$refs.stepper.previous()" />
                <q-btn color="primary" label="next" @click="secondStep" />
              </q-stepper-navigation>
            </q-step>
            <!-- Step: -->
            <q-step title="Done" subtitle="Review and submit">
              <p>Please read Privacy policy and Terms
                <a target="_blank" href="https://letsorganise.uk/privacy-and-terms">here</a>
              </p>
              <q-checkbox v-model="termsAccepted" label="Accepted" />
              <q-stepper-navigation class="float-right">
                <q-btn flat label="Back" @click="$refs.stepper.previous()" />
                <q-btn :disabled="!termsAccepted" label="join" color="positive" @click="submit" />
              </q-stepper-navigation>
            </q-step>
          </q-stepper>
        </div>
      </div>
    </div>
    <div v-else class="text-center">
      <h4>Invalid or Expired token</h4>
      <h5>We are sorry for the inconvenience. Please ask your Admin to send/resend invitation!</h5>
    </div>
  </q-page>
</template>
<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators';

export default {
  name: 'JoinPage',
  data() {
    return {
      termsAccepted: false,
      allowed: true,
      currentStep: 'welcome',
      title: 'Ms',
      firstName: '',
      lastName: '',
      id: '',
      password: '',
      repeat: '',
      mobile: '',
      touchMap: new WeakMap(),
      titles: [
        {
          label: 'Ms',
          value: 'Ms'
        },
        {
          label: 'Mr',
          value: 'Mr'
        },
        {
          label: 'Mrs',
          value: 'Mrs'
        },
        {
          label: 'Miss',
          value: 'Miss'
        }
      ]
    };
  },
  validations: {
    title: { required },
    id: {
      required,
      minLength: minLength(5),
      isUnique(id) {
        return this.$http({
          url: `/join/${this.$route.params.token}/check/id`,
          method: 'post',
          data: { id }
        })
          .then(res => res.status === 200)
          .catch(() => false);
      }
    },
    firstName: { required },
    lastName: { required },
    password: {
      required,
      minLength: minLength(10),
      isValid(password) {
        return this.$http({
          url: `/join/${this.$route.params.token}/check/pwd`,
          method: 'post',
          data: { password }
        })
          .then(res => res.status === 200)
          .catch(() => false);
      }
    },
    repeat: { sameAsPassword: sameAs('password') }
  },

  created() {
    this.$http({ method: 'get', url: '/join/' + this.$route.params.token })
      .then(res => {
        this.email = res.data.email;
        this.UnionId = res.data.UnionId;
        this.id = '@' + res.data.email.split('@')[0];
      })
      .catch(() => {
        this.allowed = false;
        setTimeout(() => {
          this.$router.push({ path: '/login' });
        }, 10000);
      });
  },
  methods: {
    firstStep() {
      this.$v.$touch();
      setTimeout(() => {
        if (this.$v.id.$error || this.$v.password.$error || this.$v.repeat.$error) {
          this.$q.notify({
            message: 'Please review the field[s] and try again.',
            position: 'top',
            type: 'negative'
          });
          return;
        }
        this.$refs.stepper.next();
        this.$v.$reset();
      }, 1000);
    },
    secondStep() {
      this.$v.$touch();
      this.$nextTick(() => {
        if (this.$v.title.$invalid || this.$v.firstName.$invalid || this.$v.lastName.$invalid) {
          this.$q.notify({
            message: 'Please review the field[s] and try again.',
            position: 'top',
            type: 'negative'
          });
          return;
        }
        this.$refs.stepper.next();
      });
    },
    submit() {
      if (!this.termsAccepted) {
        return;
      }
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'negative'
        });
        return;
      }
      const user = {
        id: this.id,
        password: this.password,
        title: this.title,
        mobile: this.mobile,
        email: this.email,
        UnionId: this.UnionId,
        firstName: this.firstName,
        lastName: this.lastName
      };
      this.$http({
        method: 'post',
        url: '/join/' + this.$route.params.token,
        data: this.$h.prune(user)
      })
        .then(res => {
          this.$router.push({ path: '/' });
        })
        .catch(this.$h.notifyErrors);
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
    sanitizeUserId() {
      if (this.id.charAt(0) !== '@') {
        this.id = `@${this.id}`.toLowerCase();
      }
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    }
  }
};
</script>

<style>
.form > * {
  margin: 10px 0;
}
</style>
