<template>
  <q-page padding>
    <h4 class="text-center">Welcome to Let's Organise Hub</h4>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-sm-2">
          <q-field :error="$v.form.id.$error" error-label="Requires a valid user Id">
            <q-input
              v-model="form.id"
              autofocus
              float-label="ID"
              class="full-width"
              clearable
              @input="sanitizeUserId"
              @keyup.enter="submit"
            />
          </q-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-sm-2">
          <q-field :error="$v.form.password.$error" error-label="Requires a valid password">
            <q-input
              v-model.trim="form.password"
              float-label="Password"
              class="full-width"
              type="password"
              @keyup.enter="submit"
            />
          </q-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-sm-2">
          <q-checkbox v-model="form.rememberMe" class="float-left" label="Remember Me" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-sm-2">
          <q-btn color="positive" class="float-right on-right" @click="submit">Login</q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
export default {
  name: 'LoginPage',
  data() {
    return {
      form: {
        id: '',
        password: '',
        rememberMe: !!this.$q.platform.is.mobile
      }
    };
  },

  validations: {
    form: {
      id: { required },
      password: {
        required
      }
    }
  },
  computed: {
    ...mapGetters(['loggedIn'])
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push({ path: '/' });
    }
  },
  methods: {
    sanitizeUserId() {
      if (this.form.id.charAt(0) === '@') {
        this.form.id = this.form.id.toLowerCase();
      } else {
        this.form.id = `@${this.form.id}`.toLowerCase();
      }
    },
    submit() {
      this.$v.form.$touch();
      if (this.$v.form.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top', // 'top', 'left', 'bottom-left' etc
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.authenticate(this.form).then(({ user }) => {
        this.$trackEvent('User', 'loggedIn', user.id);
        this.$router.push({ path: '/' });
      });
    },
    ...mapActions(['authenticate', 'checkAuth'])
  }
};
</script>
