<template>
  <q-page padding>
    <meetings-table :meetings="meetings"/>
  </q-page>
</template>

<script>
import meetingsTable from 'components/meetings/meetings-table';
import {mapGetters} from 'vuex';
export default {
  name: 'MeetingsPage',
  components: {meetingsTable},
  data() {
    return {

    };
  },
  computed: {
    ...mapGetters(['meetings'])
  }
};
</script>
