<template>
  <q-page padding>
    <q-alert>This is work in progress, not ready to use yet</q-alert>
    <q-stepper ref="stepper" v-model="currentStep" contractable>
      <q-step default title="New Meeting" subtitle="Create Meeting" name="new">
        <meeting-body :meeting="meeting" editable/>
      </q-step>
      <q-step title="Agenda Items" subtitle="Meeting is abuout" name="agendas">
        <new-meeting-agendas :meeting="meeting" />
      </q-step>
      <q-step title="Participants" subtitle="Who is coming?" name="participants">
        <new-meeting-participants :meeting="meeting" />
      </q-step>

      <q-stepper-navigation class="q-pa-md q-ma-sm">
        <q-btn color="primary" @click="$refs.stepper.previous()">Back</q-btn>
        <q-btn v-if="currentStep==='new'" color="positive" @click="saveMeetingAndNext">Save Draft</q-btn>
        <q-btn v-else-if="currentStep==='agendas'" @click="saveAgendasAndNext">Next</q-btn>
        <q-btn v-else-if="currentStep==='participants'" @click="sendInvitations">Send Invitations</q-btn>
      </q-stepper-navigation>
    </q-stepper>
  </q-page>
</template>

<script>
import meetingBody from 'components/meetings/meeting-body';
import newMeetingParticipants from 'components/meetings/new-meeting-participants.vue';
import newMeetingAgendas from 'components/meetings/new-meeting-agendas.vue';
import {mapActions, mapGetters} from 'vuex';

export default {
  name: 'NewMeetings',
  components: {
    meetingBody, newMeetingAgendas, newMeetingParticipants
  },
  data() {
    return {
      meeting: {
        title: '',
        location: '',
        notes: '',
        start: '',
        finish: '',
        Participants: [],
        Agendas: []
      },
      currentStep: 'new'
    };
  },
  computed: {
    ...mapGetters(['me'])
  },
  methods: {
    ...mapActions(['createMeeting']),
    saveMeetingAndNext() {
      this.meeting.createdBy = this.me.id;
      this.createMeeting(this.meeting)
        .then(() => {
          this.$refs.stepper.next();
        })
        .catch(e => console.error(e));
    },
    saveAgendasAndNext() {
      Promise.all(this.meeting.Agendas.map(agenda => {
        return this.$http({
          url: '/meeting-agendas/' + agenda.id,
          method: 'put',
          data: agenda
        })
          .catch(e => console.error(e));
      })).then(() => {
        this.$refs.stepper.next();
      });
    },
    sendInvitations() {
      Promise.all(this.meeting.Participants.map(p => {
        if (!p.sendInvitation) {
          return Promise.resolve(true);
        }
        const id = p.MeetingParticipants.id;
        return this.$http({
          url: `/meeting-participants/${id}/invite`,
          method: 'post'
        }).then(() => {

        })
          .catch(e => console.error(e));
      })).then(() => {
        console.error('Invitations Sent');
      });
    }
  }

};
</script>
