<template>
  <q-page>
    <div class="row">
      <div class="col-10 offset-1">
        <searchSites :sites="sites" :action="gotoSite" class="q-ma-sm" />
      </div>
    </div>
    <div class="row gutter-sm">
      <div class="col-lg-6 col-sm-12 ">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name"> Sites By Membership </div>
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <pie-chart :data="siteDensityData" donut label="" />
          </q-card-main>
        </q-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name"> Site By Learders </div>
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <pie-chart :data="siteLeadersData" label=""/>
          </q-card-main>
        </q-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name"> Site By Activism </div>
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <pie-chart :data="siteActivistsData" label="" />
          </q-card-main>
        </q-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name"> Site By Visits </div>
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <pie-chart :data="siteVisitData" label="" donut />
          </q-card-main>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import searchSites from 'components/search-sites';
import pieChart from 'components/pie-chart';

export default {
  name: 'MembershipPage',
  components: { searchSites, pieChart },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['sites', 'workers']),
    siteDensityData() {
      return [
        { label: 'No Members', value: 10 },
        { label: '25% Density', value: 21 },
        { label: '50% Density', value: 29 },
        { label: '75% Density', value: 8 }
      ];
    },
    siteLeadersData() {
      return [
        { label: 'No Leaders', value: 35 },
        { label: '1 Leader', value: 21 },
        { label: '2 Leaders', value: 8 },
        { label: 'More Than 2', value: 3 }
      ];
    },
    siteActivistsData() {
      return [
        { label: 'No Activists', value: 20 },
        { label: '1 Activists', value: 24 },
        { label: '2 to 5 Activists', value: 15 },
        { label: 'More Than 5', value: 10 }
      ];
    },
    siteVisitData() {
      return [
        { label: 'No Visit', value: 25 },
        { label: '1 Visit', value: 34 },
        { label: '2 to 5 Visits', value: 15 },
        { label: 'More Than 5', value: 3 }
      ];
    }
  },
  created() {
    this.fetchSites();
  },
  methods: {
    ...mapActions(['fetchSites', 'fetchWorkers']),
    gotoSite(val) {
      this.$router.push({ path: `/membership/sites/${val.id}` });
    }
  }
};
</script>
