<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="statics/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <h5 class="text-faded">Sorry, nothing here...<strong>(404)</strong></h5>
    <q-btn v-if="canGoBack"
           icon="fal fa-arrow-left"
           color="secondary"
           push
           @click="goBack"
    >
      Go back
    </q-btn>
    <q-btn color="secondary" push icon-right="fa fa-home" @click="$router.replace('/')" >
      Go home
    </q-btn>
  </div>
</template>
<script>
export default {
  name: 'NotFound404Page',
  data() {
    return {
      canGoBack: window.history.length > 1
    };
  },
  methods: {
    goBack() {
      window.history.go(-1);
    }
  }
};
</script>
