<template>
  <q-page padding>
    <div class="row justify-center">
      <div class="col-lg-8 col-sm-12">
        <quotesList v-if="quotes.length" :quotes="quotes"/>
      </div>
    </div>
    <q-page-sticky :offset="[28, 18]" position="bottom-right">
      <q-btn color="positive" @click="$refs.quoteModal.open()">
        New Quote
      </q-btn>
    </q-page-sticky>
    <quote-modal ref="quoteModal" />
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import quotesList from 'components/quotes-list';
import quoteModal from 'components/quote-modal';
export default {
  name: 'QuotesPage',
  components: { quotesList, quoteModal },
  computed: {
    ...mapGetters(['quotes'])
  },
  created() {
    this.fetchQuotes();
  },
  methods: {
    ...mapActions(['fetchQuotes'])
  }
};
</script>
