<template>
  <div class="layout-padding row justify-center">
    <div class="col-lg-4 col-md-8 col-sm-12">
      <div v-if="allowed">
        <h3 class="text-center">Set New Password</h3>
        <p class="light text-certer">Password must be at least <strong> 10 cahracters</strong>.
        Anything matchig with the most common password list will get <em>rejected</em> automatically for security reasons.
        Combination of words and phrases are best candidates for a good password.
        </p>
        <q-field :disabled="!allowed" :error="$v.password.$error" error-label="Password must be 8 cahracters and contain uppercase and number">
          <q-input v-model="password" float-label="Password*" type="password" @change="validate($v.password)" />
        </q-field>
        <q-field :disabled="!allowed" :error="$v.repeat.$error" error-label="Passwords don't match.">
          <q-input v-model="repeat" float-label="Repeat Password*" type="password" @change="validate($v.repeat)" />
        </q-field>
        <q-btn
          :disabled="disableSubmit"
          color="positive"
          class="float-right"
          style="margin-top: 40px;"
          @click="submit"
        >
          Submit
        </q-btn>
      </div>
      <div v-else>
        <h4>This URL is expired</h4>
        <p>Please generate a new one.</p>
      </div>
    </div>
  </div>
</template>

<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators';
export default {
  name: 'ResetPassword',
  data() {
    return { allowed: true, touchMap: new WeakMap(), password: '', repeat: '' };
  },
  validations: {
    password: {
      required,
      minLength: minLength(10),
      isValid(password) {
        return this.$http({
          url: `/join/${this.$route.params.token}/check/pwd`,
          method: 'post',
          data: { password }
        })
          .then(res => res.status === 200)
          .catch(() => false);
      }
    },
    repeat: { sameAsPassword: sameAs('password') }
  },
  computed: {
    disableSubmit() {
      return !this.password || !this.repeat || this.$v.repeat.$error || this.$v.password.$error;
    }
  },
  created() {
    this.$http({ method: 'get', url: '/reset-password/' + this.$route.query.id }).catch(res => {
      this.allowed = false;
    });
  },
  methods: {
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    submit() {
      this.$http({
        method: 'post',
        url: '/reset-password/' + this.$route.query.id,
        data: { password: this.password, token: this.$route.params.token }
      })
        .then(resp => {
          if (resp.status === 200) {
            this.$q.notify({
              message: 'Password Set Successfully!',
              position: 'top',
              type: 'positive'
            });
            this.$router.push({ path: '/login' });
          }
        })
        .catch(({ response }) => {
          // console.error(response.data.errors);
          response.data.errors.map(e => {
            this.$q.notify({
              message: e.msg,
              position: 'top',
              type: 'negative'
            });
          });
        });
    }
  }
};
</script>
