<template>
  <q-page >
    <site-graph
      v-if="site.id"
      :site="site"
      :workers="workers"
      :relations="relations"
      @reload="loadSite()"
    />
  </q-page>
</template>

<script>
import siteGraph from 'components/site-graph';
export default {
  name: 'SiteGraphPage',
  components: { siteGraph },
  data() {
    return {
      site: {},
      workers: [],
      relations: [],
      isActive: false
    };
  },
  watch: {
    $route: function(newRoute) {
      if (this.site.id !== this.$route.params.id) {
        this.loadSite().then(() => {
          this.$refs.graph.reload();
        });
      }
    }
  },
  mounted() {
    if (this.site.id !== this.$route.params.id) {
      this.loadSite();
    }
  },

  methods: {
    loadSite() {
      this.$http({
        url: '/sites/' + this.$route.params.id + '?include=workers',
        method: 'get'
      }).then(resp => {
        this.site = resp.data;
        this.workers = resp.data.Workers;
      });
      this.$http({
        url: '/sites/' + this.$route.params.id + '/relations',
        method: 'get'
      }).then(resp => {
        this.relations = resp.data;
      });
    }
  }
};
</script>
