<template>
  <q-page padding>
    <div class="row gutter-sm">
      <div class="col-lg-6 col-sm-12">
        <div v-if="site && site.id">
          <site-card :site="site" uploader/>
          <br>
          <q-card>
            <q-card-title class="bg-secondary text-grey-3">
              <div class="card-title-name text-grey-3">Documents</div>
            </q-card-title>
            <q-card-separator />
            <q-card-main class="no-padding">
              <q-uploader
                :url="`/api/v1/sites/${site.id}/attach-file`"
                name="site-docs"
                method="PUT"
                color="secondary"
                float-label="Attach Files"
                extensions=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf"
                @uploaded="loadSite"
              />
              <!-- <display-files :files="site.Files" /> -->
            </q-card-main>
          </q-card>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <q-card v-if="site && site.Workers">
          <q-card-title class="bg-secondary text-grey-3 text-right">
            <div class="card-title-name"> {{ `${site.Workers.length} Workers` }}</div>
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <worker-list :workers="site.Workers"/>
          </q-card-main>
        </q-card>
      </div>
      <worker-modal v-if="site" ref="workerModal" :site="site" />
      <q-page-sticky :offset="[28, 18]" position="bottom-right">
        <q-btn color="positive" @click="$refs.workerModal.open()">
          New Worker
          <q-tooltip>add new Worker to site</q-tooltip>
        </q-btn>
      </q-page-sticky>
    </div>
  </q-page>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import SiteCard from 'components/site-card';
import WorkerList from 'components/worker-list';
import WorkerModal from 'components/worker-modal';
export default {
  name: 'SiteDetailPage',
  components: { SiteCard, WorkerList, WorkerModal },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['siteById']),
    site() {
      return this.siteById(this.$route.params.id);
    },

    members() {
      if (this.site && this.site.Workers) {
        return this.site.Workers.filter(w => w.isMember);
      }
      return [];
    }
  },
  mounted() {
    this.loadSite();
  },
  methods: {
    ...mapActions(['fetchSiteById']),
    gotoWorker(id) {
      this.$router.push({ path: `/membership/workers/${id}` });
    },
    loadSite() {
      this.fetchSiteById(this.$route.params.id);
    }
  }
};
</script>
