<template>
  <q-page padding>
    <site-table :sites="sites"/>
    <site-modal ref="siteModal" />
    <q-page-sticky :offset="[28, 18]" position="bottom-right">
      <q-btn color="positive" @click="$refs.siteModal.open()">
        New Site
        <q-tooltip>create new Site</q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import siteModal from 'components/site-modal';
import siteTable from 'components/site-table';
export default {
  name: 'SitesPage',
  components: { siteTable, siteModal },
  computed: {
    ...mapGetters(['sites'])
  },
  created() {
    this.fetchSites();
  },
  methods: {
    ...mapActions(['fetchSites'])
  }
};
</script>
