<template>
  <q-page padding>
    <union-table :unions="unions"/>
    <union-modal ref="unionModal" new-union />
    <union-modal ref="branchModal" />
    <q-page-sticky v-if="$h.canCreate(isAdmin)" :offset="[28, 18]" position="bottom-right">
      <q-btn v-if="isRoot" color="positive" @click="$refs.unionModal.open()">
        New Union
        <q-tooltip>create new Union</q-tooltip>
      </q-btn>
      <q-btn color="positive" @click="$refs.branchModal.open()">
        New Branch
        <q-tooltip>create new Branch</q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import unionTable from 'components/union-table';
import unionModal from 'components/union-modal';

export default {
  name: 'Unions',
  components: { unionTable, unionModal },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['unions', 'isRoot', 'isAdmin', 'me'])
  },
  mounted() {
    this.fetchUnions();
  },
  methods: {
    gotoUnion(id) {
      this.$router.push({ path: `/admin/unions/${id}` });
      // console.error(id)
    },
    ...mapActions(['fetchUnions'])
  }
};
</script>
