<template>
  <q-page padding>
    <div v-if="user && user.id" class="row gutter-md">
      <div class="col-lg-6 col-sm-12 ">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name">{{ user.name || '' }} </div>

          </q-card-title>
          <q-card-main >
            <q-list>
              <q-item>
                <q-item-side icon="fal fa-user" />
                <q-item-main label="Name" />
                <q-item-side right>
                  <q-item-tile>{{ `${user.title || ''}  ${user.name}` }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-at" />
                <q-item-main label="ID" />
                <q-item-side right>
                  <q-item-tile ><strong>{{ user.id }}</strong></q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-calendar" />
                <q-item-main label="DOB" />
                <q-item-side right>
                  <q-item-tile>{{ user.birthDate | formatDate }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-clock" />
                <q-item-main label="Active" />
                <q-item-side right>
                  <q-item-tile>
                    {{ user.lastActive | timeago }}
                    <q-tooltip>{{ user.lastActive|formatDateTime }}</q-tooltip>
                  </q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-at" />
                <q-item-main label="Email" />
                <q-item-side right>
                  <q-item-tile>{{ user.email }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-mobile" />
                <q-item-main label="Phones" />
                <q-item-side right>
                  <q-item-tile>{{ `${user.mobile||''} ${user.phone||''}`.trim() }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-address-book" />
                <q-item-main label="Address" />
                <q-item-side right>
                  <q-item-tile>{{ user.address }}</q-item-tile>
                  <q-item-tile>{{ user.city }}</q-item-tile>
                  <q-item-tile>{{ user.postCode }}</q-item-tile>
                  <q-item-tile>{{ user.country }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fa fa-user" />
                <q-item-main label="Worker Identity" />
                <q-item-side right>
                  <q-item-tile v-if="user.WorkerId">
                    <q-btn disabled flat
                           dense label="View"
                           color="positive"
                    />
                  </q-item-tile>
                  <q-item-tile v-else>
                    <q-btn disabled flat
                           dense label="Create"
                           color="negative"
                    />
                  </q-item-tile>
                </q-item-side>
              </q-item>
            </q-list>
          </q-card-main>
          <q-card-separator/>
          <q-card-actions v-if="canUpdateUser" align="end">
            <q-btn v-if="canDeleteUser"
                   label="Delete"
                   dense
                   color="negative"
                   icon="fal fa-user-times"
                   @click="confirmDeleteUser"
            >
              <q-tooltip>Delete {{ user.name }}</q-tooltip>
            </q-btn>
            <q-btn
              label="Reset"
              dense
              color="warning"
              icon="fal fa-redo"
              @click="resetPassword"
            >

              <q-tooltip>Reset password for {{ user.name }}</q-tooltip>
            </q-btn>
            <q-btn
              label="edit"
              dense
              icon="fal fa-pen"
              class="on-right"
              color="primary"
              @click="$refs.userModal.open()"
            >
              <q-tooltip>Edit {{ user.name }}</q-tooltip>
            </q-btn>
          </q-card-actions>
        </q-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <q-card>
          <q-card-title class="bg-secondary text-grey-3">
            <div class="card-title-name">Groups</div>
          </q-card-title>
          <q-card-main v-if="Array.isArray(user.Groups)">
            <table class="q-table fit responsive striped-odd highlight">
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">type</th>
                  <th class="text-right">Permission</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="group in user.Groups" :key="group.id" @click="gotoGroup(group.id)">
                  <td class="text-left">{{ group.name }}</td>
                  <td class="text-left">{{ group.type }}</td>
                  <td class="text-right">{{ group.GroupUsers.permission | formatPermission }}</td>
                </tr>
              </tbody>
            </table>
          </q-card-main>
        </q-card>
      </div>
    </div>
    <user-modal ref="userModal" :data="user" />
  </q-page>
</template>


<script>
import userModal from 'components/user-modal';
import { mapGetters, mapActions } from 'vuex';
import { QProgress } from 'quasar';
export default {
  name: 'User',
  components: { QProgress, userModal },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['userById', 'me', 'isAdmin']),
    user() {
      return this.userById(this.id);
    },
    id() {
      if (!this.$route.params.id) {
        return this.me.id;
      }
      return this.$route.params.id;
    },
    canUpdateUser() {
      return this.$h.canUpdate(this.isAdmin) || this.id === this.me.id;
    },
    canDeleteUser() {
      return (this.$h.canDelete(this.isAdmin) || this.id === this.me.id) && this.id !== '@root';
    }
  },
  watch: {
    id() {
      this.loadUser();
    }
  },
  created() {
    this.loadUser();
  },
  methods: {
    ...mapActions(['fetchUserById', 'deleteUser']),
    loadUser() {
      this.fetchUserById(this.id);
    },
    gotoGroup(id) {
      this.$router.push({ path: `/admin/groups/${id}` });
    },
    resetPassword() {
      this.$q
        .dialog({
          title: 'Warning',
          message: 'Send reset password email to: ' + this.user.email,

          // optional
          color: 'primary',

          // optional; we want an "OK" button
          ok: {
            push: true,
            color: 'negative',
            label: 'Send Email!'
          },
          cancel: {
            label: 'Cancel'
          } // takes i18n value, or String for "Cancel" button label
        })
        .then(() => {
          // Picked "OK"
          return this.$http({
            url: `/users/${this.id}/reset-password`,
            method: 'post',
            data: {}
          }).then(() => {
            this.$q.notify({
              message: 'Password Reset Email has been sent to ' + this.user.name,
              icon: 'fal fa-envelope',
              color: 'info',
              position: 'top'
            });
          });
        })
        .catch(() => {
          // Picked "Cancel" or dismissed
        });
    },
    confirmDeleteUser() {
      this.$q
        .dialog({
          title: 'Confirm Delete!',
          message: this.user.name + "'s Account will be deleted Permently!",

          // optional
          color: 'primary',

          // optional; we want an "OK" button
          ok: {
            push: true,
            color: 'negative',
            label: 'Delete!'
          },
          cancel: {
            label: 'Cancel'
          } // takes i18n value, or String for "Cancel" button label
        })
        .then(() => {
          // Picked "OK"
          this.deleteUser(this.user).then(() => {
            if (window.history.length > 1) {
              window.history.go(-1);
            } else {
              this.$router.replace('/');
            }
            this.$q.notify({
              message: 'User has been deleted successfully.',
              icon: 'fal fa-user-times',
              color: 'info',
              position: 'top'
            });
          });
        })
        .catch(() => {
          // Picked "Cancel" or dismissed
        });
    }
  }
};
</script>
