<template>
  <q-page padding>
    <user-table :users="users"/>
    <q-page-sticky :offset="[28, 18]" position="bottom-right">
      <user-modal ref="userModal" is-new />
      <q-btn color="positive" @click="$refs.userModal.open()">
        User Invitation
        <q-tooltip>Send User Invitation</q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<script>
import userModal from 'components/user-invitation-modal';
import { mapActions, mapGetters } from 'vuex';
import userTable from 'components/user-table';
export default {
  name: 'PageUsers',
  components: { userTable, userModal },
  computed: {
    ...mapGetters(['users'])
  },
  mounted() {
    this.fetchUsers();
  },
  methods: {
    ...mapActions(['fetchUsers'])
  }
};
</script>
