<template>
  <q-page padding>
    <user-invitations-table :invitations="userInvitations"/>
    <q-page-sticky v-if="isActivist" :offset="[28, 18]" position="bottom-right">
      <user-invitation-modal ref="userInvitationModal" />
      <q-btn color="positive" @click="$refs.userInvitationModal.open()">
        Invite new USER
        <q-tooltip>Send User Invitation</q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<script>
import userInvitationModal from 'components/user-invitation-modal';
import { mapActions, mapGetters } from 'vuex';
import userInvitationsTable from 'components/user-invitations-table';
export default {
  name: 'PageUserInvitations',
  components: { userInvitationsTable, userInvitationModal },
  computed: {
    ...mapGetters(['userInvitations', 'isActivist'])
  },
  mounted() {
    this.fetchUserInvitations();
  },
  methods: {
    ...mapActions(['fetchUserInvitations'])
  }
};
</script>
