<template>
  <div>
    <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            Add User to {{ group.name }}
          </div>
          <q-btn
            v-close-overlay
            flat
            round
            dense
            icon="fal fa-times"
          />
        </q-toolbar>
        <div class="layout-padding">
          <div class="row md-gutter">
            <div class="col-md-6 col-sm-12">
              <q-field :error="$v.relation.userId.$error" error-label="Please select a User">
                <search-users ref="searchUsers" :users="$store.getters.users" :action="setUserId" float-label="Search Users*" />
              </q-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <q-field :error="$v.relation.permission.$error" error-label="Please select a Permission">
                <q-select v-model="relation.permission" :options="permissionOptions" float-label="Permission*" />
              </q-field>
            </div>
          </div>
        </div>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <q-btn
              label="Save"
              color="positive"
              class="float-right save-button on-right"
              @click="submit"
            />
            <q-btn
              label="Cancel"
              color="negative"
              class="float-right on-left"
              @click="close"
            />
          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import searchUsers from 'components/search-users';
import { mapActions } from 'vuex';
export default {
  name: 'AddUserToGroupModal',
  components: { searchUsers },
  props: {
    group: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      opened: false,
      relation: {},
      permissionOptions: [
        {
          label: 'Read',
          value: 4
        },
        {
          label: 'Read/Update',
          value: 5
        },
        {
          label: 'Read/Update/Create',
          value: 6
        },
        {
          label: 'Read/Update/Create/Delete',
          value: 7
        }
      ]
    };
  },
  created() {
    this.reset();
    this.fetchUsers();
  },
  validations: {
    relation: {
      userId: { required },
      permission: { required }
    }
  },
  methods: {
    ...mapActions(['fetchUsers']),
    submit() {
      this.$v.relation.$touch();
      if (this.$v.relation.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.$http({
        url: '/groups/' + this.group.id + '/user/' + this.relation.userId,
        method: 'post',
        data: this.relation
      }).then(() => {
        this.$emit('success');
        this.close();
      });
    },
    open() {
      this.reset();
      this.opened = true;
    },
    close() {
      this.opened = false;
    },
    setUserId(val) {
      this.relation.userId = val.id;
    },
    reset() {
      this.$refs.searchUsers && this.$refs.searchUsers.reset();
      this.$v.$reset();
      this.relation = {
        userId: '',
        permission: 4
      };
    }
  }
};
</script>

