<template>
  <div>
    <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            Add Site to {{ group.name }}
          </div>
          <q-btn
            v-close-overlay
            flat
            round
            dense
            icon="fal fa-times"
          />
        </q-toolbar>
        <div class="layout-padding">
          <div class="row md-gutter">
            <div class="col-12">
              <q-field :error="$v.relation.SiteId.$error" error-label="Please select a Site">
                <search-sites ref="searchSites" :sites="$store.getters.sites" :action="setSiteId" float-label="Search Sites*" />
              </q-field>
            </div>
          </div>
        </div>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <q-btn
              label="Save"
              color="positive"
              class="float-right save-button on-right"
              @click="submit"
            />
            <q-btn
              label="Cancel"
              color="negative"
              class="float-right on-left"
              @click="close"
            />
          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import searchSites from 'components/search-sites';
import { mapActions } from 'vuex';
export default {
  name: 'AddSiteGroupsModal',
  components: { searchSites },
  props: {
    group: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      opened: false,
      relation: {}
    };
  },
  validations: {
    relation: {
      SiteId: { required }
    }
  },
  created() {
    this.fetchSites();
  },
  methods: {
    submit() {
      this.$v.relation.$touch();
      if (this.$v.relation.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.$http({
        url: '/groups/' + this.group.id + '/site/' + this.relation.SiteId,
        method: 'post',
        data: this.relation
      })
        .then(() => {
          this.$emit('success');
          this.close();
        })
        .catch(({ response }) => {
          // console.error(JSON.stringify(response.data));
          if (response.data.status === 401) {
            this.$q.notify("You don't have permission to edit this group.");
            this.close();
          }
        });
    },
    open() {
      this.reset();
      this.opened = true;
    },
    close() {
      this.opened = false;
    },
    setSiteId(val) {
      this.relation.SiteId = val.id;
    },
    reset() {
      this.$refs.searchSites && this.$refs.searchSites.reset();
      this.$v.$reset();
      this.relation = {
        SiteId: ''
      };
    },
    ...mapActions(['fetchSites'])
  }
};
</script>
