<template>
  <div>

    <div class="row justify-around bg-grey-4">
      <div class="col-auto">
        <q-btn color="primary" flat icon="fas fa-file-plus" @click="$refs.uploadModal.open()">
          <q-tooltip>Upload a File</q-tooltip>
        </q-btn>
      </div>
      <div class="col-auto">
        <q-btn flat color="primary" icon="fas fa-user-plus" @click="addUser">
          <q-tooltip>Add Participant</q-tooltip>
        </q-btn>
      </div>
      <div class="col-auto">
        <q-btn :color="getColor(chatUser.emailSub)" flat icon="fas fa-envelope" @click="emailSub" >
          <q-tooltip>Subscribe Emails</q-tooltip>
        </q-btn>
      </div>
      <div class="col-auto">
        <q-btn flat color="negative" icon="fas fa-sign-out-alt" @click="confirmLeaveChat">
          <q-tooltip>Leave Chat</q-tooltip>
        </q-btn>
      </div>
    </div>

    <div>
      <q-list v-if="chat.Files && chat.Files.length" separator>
        <q-list-header>Files</q-list-header>
        <q-item
          v-for="file in chat.Files"
          :key="file.filename"
          class="display-file"
        >
          <q-item-side :icon="getIcon(file)"/>
          <q-item-main :label="file.originalname" :sublabel="getSublabel(file)" class="cursor-pointer" @click.native="openFile(file)"/>
          <q-item-side right>
            <q-item-tile
              :disabled="!canDeleteFile(file)"
              icon="fal fa-times"
              class="cursor-pointer text-negative"
              @click.native="confirmDeleteFile(file)"
            >
              <q-tooltip v-if="canDeleteFile(file)">
                Delete File
              </q-tooltip>
            </q-item-tile>
          </q-item-side>
        </q-item>
      </q-list>
    </div>
    <chat-add-participant v-if="chatId" ref="chatAddParticipant" :chat-id="chatId"/>
    <upload-modal v-if="chatId" ref="uploadModal" :fieldname="chatId" :url="`/api/v1/chats/${chatId}/files`"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { uploadsUrl } from '../utils';
import { format, openURL } from 'quasar';
import uploadModal from 'components/upload-modal';
import chatAddParticipant from 'components/chat-add-participant';

const { humanStorageSize } = format;
export default {
  name: 'ChatFilesDrawer',
  components: { uploadModal, chatAddParticipant },
  props: {
    chat: { type: Object, required: true }
  },
  computed: {
    ...mapGetters(['me', 'chatUserByChat', 'isAdmin']),
    chatUser() {
      if (this.chat) {
        return this.chatUserByChat(this.chat.id) || {};
      }
      return {};
    },
    chatId() {
      return this.chat.id;
    },
    leaveChatMessage() {
      if (this.participants.length === 1) {
        return 'Leaving will also DELETE this chat, as you are the only Participant.';
      }
      return 'Other Participants will still be able to see old messages.';
    },
    participants() {
      return this.chat && this.chat.Participants;
    }
  },
  methods: {
    ...mapActions(['deleteChatFile', 'leaveChat', 'updateChatUser']),
    getColor(val) {
      return val ? 'positive' : 'negative';
    },
    addUser() {
      this.$refs.chatAddParticipant.open();
    },
    confirmLeaveChat() {
      this.$q
        .dialog({
          title: 'Do you want to leave this Chat?',
          message: this.leaveChatMessage,
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Leave'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.leaveChat(this.chatId).then(() => {
            // this.$q.localStorage.remove(this.chat.id);
            this.$router.replace({ path: '/chats' });
          });
        });
    },
    emailSub() {
      const isSubscribed = this.chatUser.emailSub;
      this.$q
        .dialog({
          title: isSubscribed
            ? 'Unsubscribe to email Alerts for this chat'
            : 'Subscribe to email Alerts for this chat',
          // message: this.leaveChatMessage,
          color: 'primary',
          ok: {
            color: isSubscribed ? 'negative' : 'positive',
            label: isSubscribed ? 'Unsubscribe' : 'Subscribe'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.emailSubRequest(isSubscribed);
        });
    },
    emailSubRequest(isSubscribed) {
      const id = this.chatUser.id;
      this.updateChatUser({ id, emailSub: !isSubscribed }).then(() => {
        const message = isSubscribed
          ? 'Email notifications Unubscribed'
          : 'Email notifications Subscribed';
        this.$q.notify({
          message,
          position: 'top',
          type: !isSubscribed ? 'positive' : 'info'
        });
      });
    },
    canDeleteFile(file) {
      return file.createdBy === this.me.id || this.$h.canUpdate(this.isAdmin);
    },
    getIcon(file) {
      if (file.mimetype.startsWith('image')) {
        return 'fa fa-file-image';
      } else if (file.mimetype.includes('pdf')) {
        return 'fa fa-file-pdf';
      } else if (file.mimetype.includes('document')) {
        return 'fa fa-file-word';
      }
      return 'fa fa-file';
    },
    confirmDeleteFile(file) {
      if (!this.canDeleteFile(file)) {
        return;
      }
      const toDelete = Object.assign({}, file, { ChatId: this.chat.id });
      this.$q
        .dialog({
          title: `Delete ${file.originalname}?`,
          message: 'File will be permanently deleted!',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Delete'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.deleteChatFile(toDelete);
          // console.error('object');
        });
    },
    openFile(file) {
      openURL(uploadsUrl + file.path);
    },
    getSublabel(file) {
      return (
        // 'Created By: ' +
        file.createdBy +
        ', ' +
        this.$h.formatDateTime(file.createdAt) +
        ', ' +
        humanStorageSize(file.size)
      );
    }
  }
};
</script>
