<template>
  <q-modal v-model="opened" :content-css="{minWidth: '40vw', minHeight: '30vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          Add Participant
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fa fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-sm-12">
            <q-field :error="$v.user.id.$error" error-label="Please select a User">
              <search-users ref="searchUsers" :users="filteredUsers" :action="setUserId" float-label="Search User to Add" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import searchUsers from 'components/search-users';

import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'ChatAddUserModal',
  components: { searchUsers },
  props: {
    chatId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      opened: false,
      user: { id: '' },
      touchMap: new WeakMap()
    };
  },
  validations: {
    user: {
      id: { required }
    }
  },
  computed: {
    ...mapGetters(['users', 'me', 'chatById']),
    filteredUsers() {
      const chat = this.chatById(this.chatId);
      if (chat && chat.Participants) {
        const participantIds = chat.Participants.map(u => u.id);
        return this.users.filter(u => !participantIds.includes(u.id));
      }
      return this.users;
    }
  },
  created() {
    this.reset();
    this.fetchUsers();
  },
  methods: {
    ...mapActions(['fetchUsers']),
    submit() {
      this.$v.user.$touch();
      if (this.$v.user.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.$http({
        url: `/chats/${this.chatId}/user`,
        method: 'post',
        data: { UserId: this.user.id }
      }).then(result => {
        this.close();
        // console.error(result.data);
      });
    },
    open() {
      this.opened = true;
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    setUserId(val) {
      this.user.id = val.id;
    },
    reset() {
      this.user = {
        id: ''
      };
    }
  }
};
</script>
