<template>
  <q-item :class="`bg-${linkColor}`" @click.native="chatClick(chat)" >
    <q-item-side icon="far fa-users" />
    <q-item-main
      :label="chatName | truncate"
      :sublabel="`Active: ${$h.timeago().format(chat.lastActive)}`"
    />
    <q-chip v-if="showNew" floating color="green">{{ newMessages }}</q-chip>

    <q-tooltip>{{ chatParticipans }}</q-tooltip>
    <q-context-menu>
      <q-btn v-close-overlay class="block"
             color="primary" label="Edit Chat"
             @click="$refs.editChat.open()"
      />
    </q-context-menu>
    <edit-chat ref="editChat" :chat="chat"/>
  </q-item>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import editChat from 'components/edit-chat-modal';
import { JOIN_CHAT } from './js/events';
export default {
  name: 'ChatLink',
  components: { editChat },
  props: {
    chat: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showNew: false
    };
  },
  computed: {
    ...mapGetters(['playSound', 'chatUserByChat']),
    newMessages() {
      if (this.chat && this.chat.Messages && this.chatUser) {
        return this.chat.Messages.length - this.chatUser.read;
      }
      return 0;
    },
    chatName() {
      return this.chat.name || this.chatParticipans;
    },
    chatParticipans() {
      return this.chat.Participants && this.chat.Participants.map(p => p.id).join(', ');
    },
    linkColor() {
      return this.isActive ? 'grey-6' : 'grey-3';
    },
    isActive() {
      return this.$route.params.id === this.chat.id;
    },
    chatUser() {
      return this.chatUserByChat(this.chat.id);
    }
  },
  watch: {
    newMessages(value) {
      if (this.isActive) {
        this.updateNew();
      } else if (value) {
        this.showNew = true;
        if (this.playSound) {
          this.$h.playSound();
        }
      }
    },
    isActive(isTrue) {
      if (isTrue && this.newMessages) {
        setTimeout(() => {
          this.showNew = false;
          this.updateNew();
        }, 2000);
      }
    }
  },
  created() {
    this.fetchChatById(this.chat.id);
    this.$socket.emit(JOIN_CHAT, this.chat.id);
  },
  methods: {
    ...mapActions(['fetchChatById', 'updateChatUser']),
    chatClick(chat) {
      this.$router.push({ path: `/chats/${chat.id}` });
    },
    updateNew() {
      this.updateChatUser({ id: this.chatUser.id, read: this.chat.Messages.length });
    }
  }
};
</script>

