<template>
  <div class="display-files scroll">
    <q-item
      v-for="file in chat.Files" :key="file.filename"
      class="display-file"
    >
      <q-item-side :icon="getIcon(file)"/>
      <q-item-main :label="file.originalname" :sublabel="getSublabel(file)" class="cursor-pointer" @click.native="openFile(file)"/>
      <q-item-side right>
        <q-item-tile
          :disabled="!canDelete(file)"
          icon="fal fa-times"
          class="cursor-pointer text-negative"
          @click.native="confirmDeleteFile(file)"
        >
          <q-tooltip v-if="canDelete(file)">
            Delete File
          </q-tooltip>
        </q-item-tile>
      </q-item-side>
    </q-item>
    <chat-settings v-if="chatUser.id" :chat-user="chatUser" :participants="chat.Participants"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { uploadsUrl } from '../utils';
import { format, openURL } from 'quasar';
import chatSettings from 'components/chat-settings';

const { humanStorageSize } = format;
export default {
  name: 'ChatFiles',
  components: { chatSettings },
  props: {
    chat: { type: Object, required: true }
  },
  computed: {
    ...mapGetters(['me', 'chatUserByChat', 'isAdmin']),
    chatUser() {
      if (this.chat) {
        return this.chatUserByChat(this.chat.id);
      }
      return {};
    }
  },
  methods: {
    ...mapActions(['deleteChatFile']),
    canDelete(file) {
      return file.createdBy === this.me.id || this.$h.canUpdate(this.isAdmin);
    },
    getIcon(file) {
      if (file.mimetype.startsWith('image')) {
        return 'fa fa-file-image';
      } else if (file.mimetype.includes('pdf')) {
        return 'fa fa-file-pdf';
      } else if (file.mimetype.includes('document')) {
        return 'fa fa-file-word';
      }
      return 'fa fa-file';
    },
    confirmDeleteFile(file) {
      if (!this.canDelete(file)) {
        return;
      }
      const toDelete = Object.assign({}, file, { ChatId: this.chat.id });
      this.$q
        .dialog({
          title: `Delete ${file.originalname}?`,
          message: 'File will be permanently deleted!',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Delete'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.deleteChatFile(toDelete);
          // console.error('object');
        });
    },
    openFile(file) {
      openURL(uploadsUrl + file.path);
    },
    getSublabel(file) {
      return (
        'Created By: ' +
        file.createdBy +
        ', ' +
        this.$h.formatDateTime(file.createdAt) +
        ', Size: ' +
        humanStorageSize(file.size)
      );
    }
  }
};
</script>

<style >
.display-files {
  margin-top: 3rem;
  font-size: 14px;
  min-height: 56px;
  max-height: 500px;
}

.display-file {
  border-bottom: 1px solid #d0d0d0;
}
</style>
