<template>
  <div>
    <q-list no-border inset-delimiter >
      <q-item v-for="online in onlineUsers" :key="online.id" >
        <q-item-side icon="fal fa-user" color="positive"/>
        <q-item-main :label="online.name" :sublabel="lastActive(online.lastActive)" />
      </q-item>
      <q-item v-for="offline in offlineUsers" :key="offline.id">
        <q-item-side icon="fal fa-user"/>
        <q-item-main :label="offline.name" :sublabel="lastActive(offline.lastActive)" />
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'ChatUsers',
  data() {
    return {
      userClicked: {}
    };
  },
  computed: {
    ...mapGetters(['onlineUsers', 'offlineUsers'])
  },
  methods: {
    lastActive(time) {
      return time ? this.$h.timeago().format(time) : 'never';
    },
    userClick(user) {
      this.userClicked = user;
      this.$refs.contextMenu.show();
    }
  }
};
</script>

<style>
</style>
