<template>
  <q-chat-message
    :stamp="getStamp"
    :sent="sent"
    :name="name"
    :avatar="'statics/person.svg'"
  >
    <div style="min-width: 150px;" class="on-right">
      <div class="float-right cursor-pointer">
        <q-icon
          v-if="sent"
          name="fa fa-trash"
          color="negative"
          @click.native="confirmDeleteMessage"
        />
        <q-icon
          v-else
          :color="likeIconColor"
          :size="heartSize"
          name="far fa-thumbs-up"
          @click.native="sendLike"
        />
      </div>
      <p class="text-weight-light" v-html="message.text"/>
      <div v-if="message.filePath">
        <q-btn
          label="Open"
          dense
          flat
          @click="openLink"
        />
      </div>
    </div>
  </q-chat-message>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { uploadsUrl } from '../utils';
import { openURL } from 'quasar';

export default {
  name: 'ChatMessage',
  props: {
    message: {
      type: Object,
      required: true
    },
    sent: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      likeIconColor: 'green-10',
      heartSize: '1rem'
    };
  },
  computed: {
    ...mapGetters(['userById']),
    name() {
      if (this.sent) {
        return 'Me';
      }
      const { name } = this.userById(this.message.sentBy);

      return name || 'user';
    },
    getStamp() {
      let stamp = this.$h.timeago().format(this.message.createdAt);
      if (this.message.likes > 1) {
        stamp = `${stamp} - ${this.message.likes} Likes`;
      } else if (this.message.likes === 1) {
        stamp = `${stamp} - ${this.message.likes} Like`;
      }
      return stamp;
    }
  },

  methods: {
    ...mapActions(['deleteMessage']),
    ...mapMutations(['UPDATE_MESSAGE']),
    openLink() {
      openURL(uploadsUrl + this.message.filePath);
      this.$trackEvent('Chat', 'message', 'openLink');
    },

    confirmDeleteMessage() {
      this.$q
        .dialog({
          title: 'Delete Message',
          message: this.message.filePath
            ? 'Deleting this messgage will NOT delete the File'
            : 'Message will be deleted permanently.',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Delete'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.deleteMessage(this.message);
          this.$trackEvent('Chat', 'message', 'deleted');
        });
    },
    sendLike() {
      this.likeIconColor = 'green-14';
      this.heartSize = '1.1rem';
      setTimeout(() => {
        this.likeIconColor = 'green-10';
        this.heartSize = '1rem';
      }, 100);
      this.$http({
        url: `/messages/${this.message.id}/like`,
        method: 'post'
      }).then(() => {
        this.$trackEvent('Chat', 'message', 'liked');
      });
    }
  }
};
</script>

<style scoped>
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}
</style>
