<template>
  <div/>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import {
  CHAT_STARTED,
  CHAT_USER_JOINED,
  CHAT_USER_LEFT,
  CHAT_UPDATED,
  CONNECT_TIMEOUT,
  CONNECT,
  DISCONNECT,
  ERROR,
  JOIN_CHAT,
  LEAVE_CHAT,
  MESSAGE_DELETED,
  MESSAGE_UPDATED,
  MESSAGE,
  RECONNECT,
  SET_ONLINE_USERS,
  TEST
} from '../components/js/events.js';

// placeholder for connection inteval id
let tryConnect;

export default {
  name: 'SocketSetup',
  computed: {
    ...mapGetters(['me', 'playSound', 'chats'])
  },
  watch: {
    '$q.appVisible'(val) {
      if (val) {
        this.setConnectInterval();
      }
    }
  },
  created() {
    this.setConnectInterval();
    this.$socket.on(TEST, this.onTest);
    this.$socket.on(CONNECT, this.onConnect);
    this.$socket.on(RECONNECT, this.onReconnect);
    this.$socket.on(DISCONNECT, this.onDisconnect);
    this.$socket.on(CONNECT_TIMEOUT, this.onConnectTimeout);
    this.$socket.on(ERROR, this.onError);
    this.$socket.on(SET_ONLINE_USERS, this.onSetOnlineUsers);
    this.$socket.on(MESSAGE, this.onMessage);
    this.$socket.on(MESSAGE_DELETED, this.onMessageDeleted);
    this.$socket.on(MESSAGE_UPDATED, this.onMessageUpdated);
    this.$socket.on(CHAT_USER_JOINED, this.onChatUserJoined);
    this.$socket.on(CHAT_USER_LEFT, this.onChatUserLeft);
    this.$socket.on(CHAT_STARTED, this.onChatStartd);
    this.$socket.on(CHAT_UPDATED, this.onChatUpdated);
  },
  beforeDestroy() {
    this.clearConnectInterval();
    this.$socket.off(TEST, this.onTest);
    this.$socket.off(CONNECT, this.onConnect);
    this.$socket.off(RECONNECT, this.onReconnect);
    this.$socket.off(DISCONNECT, this.onDisonnect);
    this.$socket.off(CONNECT_TIMEOUT, this.onConnectTimeout);
    this.$socket.off(ERROR, this.onError);
    this.$socket.off(SET_ONLINE_USERS, this.onSetOnlineUsers);
    this.$socket.off(MESSAGE, this.onMessage);
    this.$socket.off(MESSAGE_DELETED, this.onMessageDeleted);
    this.$socket.off(MESSAGE_UPDATED, this.onMessageUpdated);
    this.$socket.off(CHAT_USER_JOINED, this.onChatUserJoined);
    this.$socket.off(CHAT_USER_LEFT, this.onChatUserLeft);
    this.$socket.off(CHAT_STARTED, this.onChatStartd);
    this.$socket.off(CHAT_UPDATED, this.onChatUpdated);
  },
  methods: {
    ...mapActions([
      'setOnlineUsers',
      'addMessageToChat',
      'deleteMessage',
      'setOnline',
      'fetchChatById'
    ]),
    ...mapMutations(['DELETE_MESSAGE', 'UPDATE_MESSAGE']),
    onMessage(message) {
      this.addMessageToChat(message);
      if (!this.$q.appVisible && this.playSound) {
        this.$h.playSound();
      }
    },
    onConnect() {
      this.$q.notify({ message: 'Online!', timeout: 500, type: 'positive', position: 'top' });
      this.setOnline(true);
      this.clearConnectInterval();
      this.$socket.emit(JOIN_CHAT, this.me.id);
      this.chats.map(c => {
        this.$socket.emit(JOIN_CHAT, c.id);
      });
    },
    onReconnect() {
      this.chats.map(c => {
        this.$socket.emit(JOIN_CHAT, c.id);
      });
      this.setOnline(true);
      // this.clearConnectInterval();
    },
    onDisconnect(reason) {
      this.setConnectInterval();
      this.setOnline(false);
      this.$q.notify({ message: 'Chat Offline', timeout: 1000, type: 'negative', position: 'top' });
      // console.error('disconnected', reason);
    },
    onError(error) {
      // console.error('error', error);
      if (error === 'Authentication error') {
        this.$q.notify('Session expired! Please Login again');
        this.clearConnectInterval();
      }
    },
    onConnectTimeout(timeout) {
      // console.error('connect_timeout', timeout);
    },
    onSetOnlineUsers(users) {
      this.setOnlineUsers(users);
    },
    setConnectInterval(interval = 1000) {
      tryConnect = setInterval(() => {
        if (this.$socket.disconnected) {
          console.log('%cCONNECTING..', 'background: #00224c; color: #DDDDDD; border-radius: 4px;');
          this.$socket.open();
        } else {
          console.log('%cCONNECTED!!!', 'background: #00224c; color: #21DD45; border-radius: 4px;');
          this.clearConnectInterval();
        }
      }, interval);
    },
    clearConnectInterval() {
      clearInterval(tryConnect);
    },
    onTest(data) {
      // console.error(data);
      this.$q.notify(data);
    },
    onChatUserJoined(chatUser) {
      this.fetchChatById(chatUser.ChatId);
      this.$q.notify({
        message: `New User '${chatUser.UserId}' added to chat`,
        type: 'positive',
        position: 'top'
      });
    },
    onChatUserLeft(chatUser) {
      if (chatUser.UserId === this.me.id) {
        this.$socket.emit(LEAVE_CHAT, chatUser.ChatId);
      } else {
        this.fetchChatById(chatUser.ChatId);
        this.$q.notify({
          message: `User '${chatUser.UserId}' Left chat`,
          type: 'negative',
          position: 'top'
        });
      }
    },
    onChatStartd(chatId) {
      this.fetchChatById(chatId);
    },
    onChatUpdated(chatId) {
      this.fetchChatById(chatId);
    },
    onMessageDeleted(message) {
      this.DELETE_MESSAGE(message);
    },
    onMessageUpdated(message) {
      this.UPDATE_MESSAGE(message);
    }
  }
};
</script>
