<template>
  <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New Chat
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-6 col-sm-12">
            <q-field >
              <q-input v-model="chat.name" float-label="Chat Name" />
            </q-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-field :error="$v.chat.with.$error" error-label="Please select a User">
              <search-users ref="searchUsers" :users="filteredUsers" :action="setUserId" float-label="Search User to chat" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Create"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import searchUsers from 'components/search-users';

import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'NewChatModal',
  components: { searchUsers },
  data() {
    return {
      opened: false,
      chat: {
        name: '',
        with: ''
      },
      touchMap: new WeakMap()
    };
  },
  validations: {
    chat: {
      with: { required }
    }
  },
  computed: {
    ...mapGetters(['users', 'me']),
    filteredUsers() {
      return this.users.filter(u => u.id !== this.me.id);
    }
  },
  created() {
    this.fetchUsers();
  },
  methods: {
    submit() {
      this.$v.chat.$touch();
      if (this.$v.chat.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.createNewChat(this.chat).then(newChat => {
        this.close();
        this.$router.push({ path: `/chats/${newChat.id}` });
      });
    },
    open() {
      this.opened = true;
      this.reset();
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    setUserId(val) {
      this.chat.with = val.id;
    },
    reset() {
      if (this.$refs.searchUsers) {
        this.$refs.searchUsers.reset();
      }
      this.chat = {
        name: '',
        with: ''
      };
    },
    ...mapActions(['createNewChat', 'fetchUsers'])
  }
};
</script>
