<template>
  <div class="q-px-xs">
    <div class="row" style="height:calc(88vh - 70px);">
      <div class="col-lg-8 offset-lg-2 col-sm-12">
        <q-scroll-area
          ref="scroll"
          :thumb-style="{
            right: '1px',
            borderRadius: '4px',
            background: 'lightgrey',
            width: '4px',
            opacity: 0.5
          }"
          style="height:100%;"
          class="bg-grey-1"
        >
          <chat-message
            v-for="message in messages"
            :message="message"
            :key= "message.id"
            :sent="me.id === message.sentBy"
          />
          <q-scroll-observable @scroll="userHasScrolled" />
        </q-scroll-area>
        <q-page-sticky :offset="[10, 60]" position="bottom-right">
          <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <q-btn
              v-show="showScrollbtn"
              round
              size="sm"
              color="primary"
              icon="fa fa-chevron-double-down"
              @click="scrollToBottom"
            />
          </transition>
        </q-page-sticky>
      </div>
    </div>
    <q-layout-footer style="height: 50px;">
      <div class="row bg-grey-1">
        <div class="col-lg-6 offset-lg-3 col-sm-12 q-px-sm">
          <input type="text" name="user" style="display:none">
          <input type="password" style="display:none">
          <q-input
            v-model.trim="text"
            :float-label="`Chat: '${chatName}'`"
            :after="[ { icon: 'far fa-paper-plane', handler : send } ]"
            name="chatinput"
            type="text"
            color="primary"
            autocomplete="off"
            autocorrect="off"
            @keyup.enter="send"
            @keyup.esc="()=>{text = ''}"
          />
        </div>
      </div>
    </q-layout-footer>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import chatMessage from 'components/chat-message';
// import chatSettings from 'components/chat-settings';
import { CONNECT } from '../components/js/events.js';
export default {
  name: 'ChatRoom',
  components: { chatMessage },
  props: {
    chat: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      text: '',
      showScrollbtn: false
    };
  },
  computed: {
    ...mapGetters(['me', 'chatUserByChat']),
    chatName() {
      const name =
        this.chat.name ||
        (this.chat.Participants && this.chat.Participants.map(p => p.id).join(', ')) ||
        '';
      return this.$h.truncate(name, 20);
    },
    messages() {
      return this.chat.Messages;
    },
    chatUser() {
      if (this.chat) {
        return this.chatUserByChat(this.chat.id) || {};
      }
      return {};
    }
  },
  watch: {
    'messages.length'() {
      this.scrollToBottom();
    }
  },
  created() {
    this.$socket.on(CONNECT, this.onConnect);
  },
  mounted() {},
  beforeDestroy() {
    this.$socket.off(CONNECT, this.onConnect);
  },
  activated() {
    this.fetchChatById(this.$route.params.id);
  },
  methods: {
    ...mapActions(['fetchChatById']),
    onConnect() {
      this.fetchChatById(this.$route.params.id);
    },
    send() {
      if (!this.text) return;
      const message = {
        ChatId: this.chat.id,
        sentBy: this.me.id,
        text: this.text
      };
      this.$http({
        url: `chats/${message.ChatId}/message`,
        method: 'post',
        data: message
      }).then(() => {
        this.$trackEvent('Chat', 'message', 'sent');
      });

      this.text = '';
    },
    userHasScrolled(scroll) {
      // console.log(scroll);
      if (scroll.inflexionPosition > scroll.position) {
        this.showScrollbtn = true;
      } else {
        this.showScrollbtn = false;
      }
    },
    scrollToBottom(duration = 2000) {
      this.$refs.scroll.setScrollPosition(10000, 100, duration);
    }
  }
};
</script>
