<template>
  <q-toolbar color="primary">
    <slot/>
    <q-toolbar-title>
      Let's Organise
      <div slot="subtitle">Union Organising App</div>
    </q-toolbar-title>
    <user-menu />
  </q-toolbar>
</template>
<script>
import userMenu from 'components/user-menu';
export default {
  name: 'DefaultHeader',
  components: { userMenu }
};
</script>
