<template>
  <q-layout-footer>
    <q-toolbar>
      <q-toolbar-title>
        <q-icon name="fal fa-copyright" /> {{ (new Date()).getFullYear() }} Let's Organise Ltd.
      </q-toolbar-title>
    </q-toolbar>
  </q-layout-footer>
</template>
<script>
export default {};
</script>
