<template>
  <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          Edit Chat
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class=" col-sm-12">
            <q-field >
              <q-input v-model="chat.name" float-label="Chat Name" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { mapActions } from 'vuex';

export default {
  name: 'EditChatModal',
  props: {
    chat: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      opened: false
    };
  },
  methods: {
    submit() {
      this.updateChat(this.chat).then(() => {
        this.fetchChatById(this.chat.id);
        this.$trackEvent('Chat', 'updated');
        this.close();
      });
    },
    open() {
      this.opened = true;
    },
    close() {
      this.opened = false;
    },
    ...mapActions(['updateChat', 'fetchChatById'])
  }
};
</script>
