<template>
  <q-table :data="groups" :columns="columns"
           row-key="id" dense
           separator="horizontal"
  >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props">
      <q-td key="description" :props="props">{{ props.row.description }}</q-td>
      <q-td key="name" :props="props">
        <span class="text-italic">{{ props.row.name }}</span>
      </q-td>
      <q-td key="type" :props="props">{{ props.row.type }}</q-td>
      <q-td key="info" :props="props">
        <div class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            flat
            color="primary"
            icon="fa fa-object-group"
            class="q-mr-xs"
            @click="gotoGroup(props.row.id)"
          >
            <q-tooltip>{{ props.row.name }} Details</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'GroupCard',
  props: {
    groups: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'description',
          label: 'Description',
          name: 'description',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          field: 'name',
          label: 'Name',
          name: 'name',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          field: 'type',
          label: 'Type',
          name: 'type',
          required: true,
          align: 'left'
        },
        {
          field: 'id',
          label: 'Info',
          name: 'info',
          required: true,
          align: 'center'
        }
      ]
    };
  },
  methods: {
    gotoGroup(groupId) {
      this.$router.push({ path: `/admin/groups/${groupId}` });
      // console.error(groupId)
    }
  }
};
</script>
