<template>
  <div>
    <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            {{ group.name || 'Name' }}
          </div>
          <q-btn
            v-close-overlay
            flat
            round
            dense
            icon="fal fa-times"
          />
        </q-toolbar>
        <div class="layout-padding">
          <div class="row gutter-md">
            <div class="col-md-6 col-sm-12">
              <q-field :error="$v.group.name.$error" error-label="Please enter Group Name">
                <q-input v-model="group.name" float-label="Name*" @input="group.name = capitalize(group.name)" />
              </q-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <q-field :error="$v.group.type.$error" error-label="Please select a type">
                <q-select v-model="group.type" :options="nameOptions" float-label="type*" />
              </q-field>
            </div>
          </div>
        </div>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <q-btn
              label="Save"
              color="positive"
              class="float-right save-button on-right"
              @click="submit"
            />
            <q-btn
              label="Cancel"
              color="negative"
              class="float-right on-left"
              @click="close"
            />
          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators';

import { mapActions } from 'vuex';

export default {
  name: 'NewGroupModal',
  data() {
    return {
      group: {},
      opened: false,
      touchMap: new WeakMap()
    };
  },
  validations: {
    group: {
      name: { required, minLength: minLength(5) },
      type: { required }
    }
  },
  computed: {
    nameOptions() {
      return this.$store.getters.groupTypes.map(({ name }) => {
        return { label: name, value: name };
      });
    }
  },
  created() {
    this.reset();
    this.fetchGroupTypes();
  },
  methods: {
    submit() {
      this.$v.group.$touch();
      if (this.$v.group.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.createGroup(this.group).then(() => {
        this.close();
      });
    },
    open() {
      this.opened = true;
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },

    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    setGroupType(val) {
      this.group.type = val.name;
    },
    reset() {
      this.group = {
        name: '',
        type: 'SITE'
      };
    },
    ...mapActions(['createGroup', 'fetchGroupTypes'])
  }
};
</script>
