<template>
  <q-modal
    v-model="opened"
    :content-css="{minWidth: '50vw', minHeight: '30rem'}"
    no-route-dismiss
    no-esc-dismiss
    no-backdrop-dismiss
  >
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          Session Expired! Please Login again!
        </q-toolbar-title>
      </q-toolbar>
      <div class="layout-padding">
        <div class="login-form">
          <div class="row">
            <div class="col-sm-12">
              <q-field :error="$v.form.id.$error" error-label="Requires a valid user Id">
                <q-input
                  v-model="form.id"
                  autofocus
                  float-label="ID"
                  class="full-width"
                  clearable
                  @input="sanitizeUserId"
                  @keyup.enter="submit"
                />
              </q-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <q-field :error="$v.form.password.$error" error-label="Requires a valid password">
                <q-input
                  v-model.trim="form.password"
                  float-label="Password"
                  class="full-width"
                  type="password"
                  @keyup.enter="submit"
                />
              </q-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <q-checkbox v-model="form.rememberMe" class="float-left" label="Remember Me" />
            </div>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Login"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Close Session"
            color="negative"
            class="float-left on-left"
            @click="logoutRedirect"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { INVALIDATE_SESSION } from '../components/js/events.js';
import { date } from 'quasar';
const { getDateDiff } = date;
export default {
  name: 'LoginModal',
  data() {
    return {
      opened: false,
      form: {
        id: '',
        password: '',
        rememberMe: true
      }
    };
  },

  validations: {
    form: {
      id: { required },
      password: {
        required
      }
    }
  },
  computed: {
    ...mapGetters(['me'])
  },
  watch: {
    '$q.appVisible'(isTrue) {
      if (isTrue) {
        const date = this.$q.localStorage.get.item('session_date');
        if (!date) {
          return;
        }
        const timeDiff = getDateDiff(new Date(), date, 'hours');
        const fiveDaysInHours = 24 * 5;
        if (timeDiff > fiveDaysInHours) {
          this.open();
        }
      }
    }
  },
  created() {
    // Add a response interceptor
    this.$http.interceptors.response.use(
      response => {
        return response;
      },
      error => {
        if (error.message.includes('401')) {
          this.open();
          // console.error('401 error, Open Login Dialog');
        }
        // Do something with response error
        return Promise.reject(error);
      }
    );
    this.$socket.on(INVALIDATE_SESSION, this.open);
  },
  beforeDestroy() {
    this.$socket.off(INVALIDATE_SESSION, this.open);
  },
  methods: {
    open() {
      const path = this.$route.path;
      if (path.includes('/login') || path.includes('/confirm')) {
        return;
      }
      this.reset();
      this.opened = true;
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    reset() {
      this.form = {
        id: (this.me && this.me.id) || '',
        password: '',
        rememberMe: true
      };
    },
    sanitizeUserId() {
      if (this.form.id.charAt(0) === '@') {
        this.form.id = this.form.id.toLowerCase();
      } else {
        this.form.id = `@${this.form.id}`.toLowerCase();
      }
    },

    logoutRedirect() {
      this.logout();
      this.$router.replace({ path: '/login' });
      window.location.reload(false);
    },
    submit() {
      this.$v.form.$touch();
      if (this.$v.form.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top', // 'top', 'left', 'bottom-left' etc
          type: 'warning',
          icon: 'fa fa-exclamation'
        });
        return;
      }
      this.authenticate(this.form).then(() => {
        this.close();
      });
    },
    ...mapActions(['authenticate', 'logout'])
  }
};
</script>

<style lang="stylus">
.login-form {
  margin-top: 1rem;

  div {
    margin: 3px auto;
  }
}
</style>
