<template>
  <div>
    <q-btn :class="fullWidth?'full-width':''"
           color="positive"
           label="New Chat" icon="fa fa-comments"
           @click="$refs.chatModal.open()"
    />
    <chat-modal ref="chatModal"/>
  </div>
</template>

<script>
import chatModal from 'components/chat-modal';
export default {
  name: 'NewChatBtn',
  components: { chatModal },
  props: {
    fullWidth: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>
