<template>
  <div ref="pie">
    <q-resize-observable @resize="reset" />
  </div>
</template>

<script>
import { init, render } from './js/d3-pie';
import { QResizeObservable } from 'quasar';

export default {
  name: 'PieChart',
  components: { QResizeObservable },

  props: {
    donut: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'Pie Chart'
    },
    sublabel: {
      type: String,
      default: ''
    },
    data: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      chart: {}
    };
  },
  watch: {
    data: function() {
      if (this.chart.svg) {
        // console.error(this.$refs.pie.clientWidth);
        this.reset();
      }
    }
  },
  mounted() {
    this.reset();
  },
  methods: {
    reset() {
      this.chart = init(
        this.$refs.pie,
        { label: this.label, sublable: this.sublable },
        this.$refs.pie.clientWidth,
        this.donut
      );
      render(this.chart, this.data);
    }
  }
};
</script>

<style>
.label {
  text-anchor: middle;
}

.arc path {
  stroke: #f0f0f0;
}
</style>
