<template>
  <div>
    <input type="text" autocomplete="name" style="display:none">
    <input type="password" style="display:none">
    <q-search
      v-model="terms"
      float-label="Search Quotes"
      name="search"
      autocomplete="off"
      autocorrect="off"
      clearable
      class="q-ma-sm"
      placeholder="start typing any keywords"
    />
    <div v-if="quotes.length">
      <div v-for="quote in filteredQuotes" :key="quote.id">
        <blockquote >
          <p v-html="quote.text"/>
          <q-icon
            :disabled="!canDelete(quote)"
            name="fal fa-times"
            color="negative"
            size="1.5rem"
            class="cursor-pointer float-right"
            @click.native="delQuote(quote)"
          >
            <q-tooltip>Delete This Quote</q-tooltip>
          </q-icon>
          <small>
            Created by: {{ quote.createdBy }}
            {{ quote.createdAt | formatDate }}
          </small>
        </blockquote>
        <hr style="border-color: white">
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Fuse from 'fuse.js';
export default {
  name: 'QuotesList',
  props: {
    quotes: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      terms: '',
      fuseOptions: {
        keys: [{ name: 'text', weight: 0.2 }, { name: 'createdBy', weight: 0.8 }],
        distance: 500
      },
      notFound: [
        {
          text: 'Nothing found for this search',
          createdBy: '@admin',
          createdAt: new Date()
        }
      ]
    };
  },
  computed: {
    filteredQuotes() {
      if (!this.terms) {
        return this.quotes;
      } else {
        const results = this.fuse.search(this.terms);
        return results.length ? results : this.notFound;
      }
    },
    ...mapGetters(['me', 'isAdmin'])
  },
  mounted() {
    this.fuse = new Fuse(this.quotes, this.fuseOptions);
  },
  methods: {
    ...mapActions(['fetchQuotes', 'deleteQuote']),
    fuse() {},
    canDelete(quote) {
      return quote.createdBy === this.me.id || !!this.isAdmin;
    },
    delQuote(quote) {
      if (!this.canDelete(quote)) {
        return;
      }
      this.$q
        .dialog({
          title: 'Deleting!',
          message: `Do you want to delete this quote?`,
          ok: {
            color: 'negative',
            label: 'Delete'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.deleteQuote(quote.id);
        })
        .catch();
    }
  }
};
</script>
