<template>
  <q-modal v-model="opened" :content-css="{minWidth: '50vw', minHeight: '50vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New Quote
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md jutify-center">
          <div class="col-sm-12">
            <q-editor v-model="quote.text" />
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'QuoteModal',
  data() {
    return {
      opened: false,
      quote: { firstName: '', text: '', lastName: '' }
    };
  },
  mounted() {
    this.reset();
  },
  methods: {
    submit() {
      this.createNewQuote(this.quote).then(() => {
        this.$trackEvent('Quote', 'created');
        this.close();
      });
    },
    open() {
      this.opened = true;
      this.reset();
    },
    close() {
      this.opened = false;
    },
    reset() {
      this.quote = {
        text: '',
        firstName: '',
        lastName: ''
      };
    },
    ...mapActions(['createNewQuote'])
  }
};
</script>
