<template>
  <q-tabs align="justify">
    <q-route-tab
      slot="title"
      label="Chats"
      icon="fa fa-comments"
      to="/chats"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      label="Quotes"
      icon="fa fa-quote-right"
      to="/quotes"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      label="Admin"
      icon="fa fa-sliders-h"
      to="/admin"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      disabled
      label="Meetings"
      icon="fa fa-lightbulb"
      to="/not-enabled"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      label="Help"
      icon="fa fa-question"
      to="/help"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      disabled
      label="Membership"
      icon="fa fa-users"
      to="/not-enabled"
      hide="icon"
    />
    <q-route-tab
      slot="title"
      disabled
      label="Events"
      icon="fa fa-flag"
      to="/not-enabled"
      hide="icon"
    />
  </q-tabs>
</template>
<script>
export default {};
</script>
