<template>
  <q-input v-model="terms" :float-label="floatLabel" @change="setUpper" @blur="atBlur">
    <q-autocomplete v-if="list.length" :static-data="{field:'name', list}" :filter="filterFuse" @selected="action" />
  </q-input>
</template>

<script>
import Fuse from 'fuse.js';

export default {
  name: 'SearchType',
  props: {
    types: {
      type: Array,
      required: true
    },
    action: {
      type: Function,
      required: true
    },
    floatLabel: {
      type: String,
      default: 'Search Types'
    },
    uppercase: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      terms: '',
      fuseOptions: {
        keys: [{ name: 'name', weight: 0.1 }]
      }
    };
  },
  computed: {
    list() {
      if (this.types) {
        return this.types.map(w => {
          return {
            name: w.name,
            label: w.name
          };
        });
      }
      return [];
    }
  },
  watch: {
    list: function(newVal) {
      this.fuse = new Fuse(newVal, this.fuseOptions);
    }
  },
  methods: {
    atBlur() {
      this.action({ name: this.terms });
    },
    setUpper() {
      if (this.uppercase) {
        this.terms = this.terms.toUpperCase();
      }
    },
    filterFuse() {
      return this.fuse.search(this.terms);
    },
    fuse() {}
  }
};
</script>
