<template>
  <q-search v-model="terms" :float-label="floatLabel">
    <q-autocomplete
      v-if="list.length"
      :static-data="{field:'name',list}"
      :filter="filterFuse"
      @selected="action"
    />
  </q-search>
</template>

<script>
import Fuse from 'fuse.js';

export default {
  name: 'SearchUsers',
  props: {
    users: {
      type: Array[Object],
      required: true
    },
    action: {
      type: Function,
      required: true
    },
    floatLabel: {
      type: String,
      default: 'Search Users'
    },
    placeHolder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      terms: this.placeHolder,
      fuseOptions: {
        keys: [{ name: 'name', weight: 0.2 }, { name: 'id', weight: 0.5 }],
        distance: 30
      }
    };
  },
  computed: {
    list() {
      if (this.users) {
        return this.users.map(u => {
          u.label = `${u.name} <${u.id}>`;
          u.icon = 'fal fa-user';
          return u;
        });
      }
      return [];
    }
  },
  watch: {
    list: function(newVal) {
      this.fuse = new Fuse(newVal, this.fuseOptions);
    }
  },
  created() {
    this.fuse = new Fuse(this.list, this.fuseOptions);
  },
  methods: {
    reset() {
      this.terms = '';
    },
    filterFuse() {
      return this.fuse.search(this.terms);
    },
    fuse() {}
  }
};
</script>
