<template>
  <q-search v-model="terms" :float-label="floatLabel">
    <q-autocomplete
      v-if="list.length"
      :static-data="{field:'name',list}"
      :filter="filterFuse"
      @selected="action"
    />
  </q-search>

</template>

<script>
import Fuse from 'fuse.js';

export default {
  name: 'SearchSites',
  props: {
    sites: {
      type: Array,
      required: true
    },
    action: {
      type: Function,
      required: true
    },
    floatLabel: {
      type: String,
      default: 'Search Sites'
    }
  },
  data() {
    return {
      terms: '',
      fuseOptions: {
        keys: [
          { name: 'name', weight: 0.2 },
          { name: 'city', weight: 0.5 },
          { name: 'postCode', weight: 0.7 },
          { name: 'address', weight: 0.7 }
        ]
      }
    };
  },
  computed: {
    list() {
      if (this.sites) {
        return this.sites.map(s => {
          return {
            name: s.name,
            label: `${s.name}`,
            sublabel: `City: ${s.city} | PostCode ${s.postCode}`,
            id: s.id,
            icon: 'business',
            city: s.city,
            postCode: s.postCode,
            address: s.address
            // stamp: `Last Updated: ${date.formatDate(s.updatedAt, 'DD-MMM-YY :: h:m')}`
          };
        });
      }
      return [];
    }
  },
  watch: {
    list: function(newVal) {
      this.fuse = new Fuse(newVal, this.fuseOptions);
    }
  },
  methods: {
    reset() {
      this.terms = '';
    },
    filterFuse() {
      return this.fuse.search(this.terms);
    },
    fuse() {}
  }
};
</script>
