<template>
  <q-search v-model="terms" :float-label="floatLabel">
    <q-autocomplete
      v-if="list.length"
      :static-data="{field:'name',list}"
      :filter="filterFuse"
      @selected="action"
    />
  </q-search>
</template>

<script>
import Fuse from 'fuse.js';

export default {
  name: 'SearchWorkers',
  props: {
    workers: {
      type: Array[Object],
      required: true
    },
    action: {
      type: Function,
      required: true
    },
    floatLabel: {
      type: String,
      default: 'Search Workers'
    },
    placeHolder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      terms: this.placeHolder,
      fuseOptions: {
        keys: [
          { name: 'name', weight: 0.1 },
          { name: 'city', weight: 0.3 },
          { name: 'postCode', weight: 0.7 },
          { name: 'address', weight: 0.7 }
        ]
      }
    };
  },
  computed: {
    list() {
      if (this.workers) {
        return this.workers.map(w => {
          const siteName = w.Sites ? w.Sites.map(s => s.name).join(', ') : '';
          return {
            name: w.name,
            city: w.city,
            label: `${w.name} | Atrb: ${w.attribute || 'default'} `,
            sublabel: siteName ? `Site: ${siteName}` : '',
            id: w.id,
            icon: 'fal fa-user',
            Site: siteName
          };
        });
      }
      return [];
    }
  },
  watch: {
    list: function(newVal) {
      this.fuse = new Fuse(newVal, this.fuseOptions);
    }
  },
  methods: {
    filterFuse() {
      if (typeof this.fuse.search !== 'function') {
        this.fuse = new Fuse(this.list, this.fuseOptions);
      }
      return this.fuse.search(this.terms);
    },
    fuse() {},
    reset() {
      this.terms = '';
    }
  }
};
</script>
