<template>
  <q-card>
    <q-card-title class="bg-secondary text-grey-3">
      <div class="card-title-name">{{ site.name }}</div>
    </q-card-title>
    <q-card-separator />
    <q-card-main>
      <q-list>
        <q-item>
          <q-item-side color="green" icon="fal fa-users" />
          <q-item-main label="Members" />
          <q-item-side right>
            <q-item-tile color="green">{{ members.length }}</q-item-tile>
          </q-item-side>
        </q-item>
        <q-item>
          <q-item-side icon="fal fa-users" />
          <q-item-main label="Employees" />
          <q-item-side right>
            <q-item-tile>{{ site.Workers ? site.Workers.length : 0 }}</q-item-tile>
          </q-item-side>
        </q-item>
        <q-item>
          <q-item-side icon="fal fa-at" />
          <q-item-main label="Email" />
          <q-item-side right>
            <q-item-tile>{{ site.email }}</q-item-tile>
          </q-item-side>
        </q-item>
        <q-item>
          <q-item-side icon="fal fa-address-book" />
          <q-item-main label="Address" />
          <q-item-side right>
            <q-item-tile>{{ site.address }}</q-item-tile>
            <q-item-tile>{{ site.city }}</q-item-tile>
            <q-item-tile>{{ site.postCode }}</q-item-tile>
            <q-item-tile>{{ site.country }}</q-item-tile>
          </q-item-side>
        </q-item>
      </q-list>
    </q-card-main>
    <q-card-separator/>
    <q-card-actions align="end">
      <q-btn
        color="primary"
        icon="fal fa-project-diagram"
        label="Bubble chart"
        @click="$router.push(`/membership/sites/${site.id}/graph`)"
      >
        <q-tooltip>Interactive Graph for: {{ site.name }}</q-tooltip>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'SiteCard',
  props: {
    site: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  computed: {
    members() {
      if (this.site && this.site.Workers) {
        return this.site.Workers;
      }
      return [];
    }
  }
};
</script>
