<template>
  <q-table :data="sites" :columns="columns" row-key="id" >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props">
      <q-td key="name" :props="props">
        <span class="text-italic">{{ props.row.name }}</span>
        <q-tooltip>{{ props.row.name }}</q-tooltip>
      </q-td>
      <q-td key="address" :props="props">{{ props.row.address }}</q-td>
      <q-td key="city" :props="props">  {{ props.row.city }} </q-td>
      <q-td key="postCode" :props="props">{{ props.row.postCode }}</q-td>
      <q-td key="email" :props="props">{{ props.row.email }}</q-td>
      <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
      <q-td key="id" :props="props">
        <div class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            dense
            color="tertiary"
            icon="fa fa-info"
            class="q-mr-xs"
            @click="gotoSite(props.row.id)"
          >
            <q-tooltip>{{ props.row.name }} Details</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'SiteCard',
  props: {
    sites: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        { field: 'name', label: 'Name', name: 'name', required: true, align: 'left' },
        { field: 'address', label: 'Address', name: 'address', required: true, align: 'left' },
        { field: 'city', label: 'City', name: 'city', required: true, align: 'left' },
        { field: 'postCode', label: 'Post Code', name: 'postCode', required: true, align: 'left' },
        { field: 'email', label: 'Email', name: 'email', required: true, align: 'left' },
        { field: 'phone', label: 'Phone', name: 'phone', required: true, align: 'left' },
        { field: 'id', label: 'Info', name: 'id', required: true, align: 'center' }
      ]
    };
  },
  methods: {
    gotoSite(siteId) {
      this.$router.push({ path: `/membership/sites/${siteId}` });
      // console.error(siteId)
    },
    gotoGraph(siteId) {
      this.$router.push({ path: `/membership/sites/${siteId}/graph` });
      // console.error(siteId)
    }
  }
};
</script>
