<template>
  <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '60vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New Site
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-6 col-sm-12">
            <q-field :error="$v.site.name.$error" error-label="Please enter First Name">
              <q-input v-model="site.name" float-label="Site Name*" @input="site.name = capitalize(site.name)" />
            </q-field>
            <q-field :error="$v.site.email.$error" error-label="Please enter valid email">
              <q-input v-model="site.email" type="email" float-label="Email" @change="validate($v.site.email)" />
            </q-field>
            <q-input v-model="site.phone" float-label="Phone" />
            <q-input v-model="site.fax" float-label="Fax" />
          </div>
          <div class="col-md-6 col-sm-12">
            <q-input v-model="site.address" float-label="Address" />

            <q-input v-model="site.city" float-label="City" />

            <q-input v-model="site.county" float-label="County" />

            <q-input v-model="site.postCode" float-label="Post Code" @input="site.postCode = site.postCode.toUpperCase()" />
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required, minLength, email } from 'vuelidate/lib/validators';

import searchTypes from 'components/search-types';

import { mapActions } from 'vuex';

export default {
  name: 'SiteModal',
  components: { searchTypes },
  props: {
    full: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      site: {},
      opened: false,
      touchMap: new WeakMap()
    };
  },
  validations: {
    site: {
      email: { email },
      name: { required, minLength: minLength(4) }
    }
  },
  created() {
    this.reset();
  },
  methods: {
    submit() {
      this.$v.site.$touch();
      if (this.$v.site.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      this.createSite(this.$h.prune(this.site)).then(() => {
        this.close();
      });
    },
    open() {
      this.opened = true;
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    reset() {
      this.site = {
        name: '',
        email: '',
        email2: '',
        mobile: '',
        phone: '',
        phone2: '',
        fax: '',
        address: '',
        address2: '',
        city: '',
        county: '',
        postCode: '',
        country: 'UK'
      };
    },
    ...mapActions(['createSite'])
  }
};
</script>

