<template>
  <div>
    <network-graph
      :net-nodes="filteredNodes"
      :net-links="filteredLinks"
      :options="options"
      @click-node="nodeClick"
      @click-link="linkClick"
      @hover-link="onHoverLink"
      @hover-node="onHoverNode"
      @hover-out="onHoverOut"
    />
    <q-page-sticky :offset="[18, 18]" position="top-right">
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-card v-show="showLinkInfo && hoveredLink.type" style="width: 200px;">
          <q-card-title class="bg-secondary text-grey-3">
            <span class="uppercase text-grey-3">{{ hoveredLink.type }}</span>
            <q-icon
              slot="right"
              name="fal fa-times"
              color="grey-3"
              class="cursor-pointer"
              @click="showLinkInfo = false"
            />
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <p>Strength: {{ hoveredLink.strength }}</p>
            <q-progress :percentage="hoveredLink.strength * 10" style="height: 6px" />
          </q-card-main>
          <q-card-actions>
            <q-btn flat color="primary" @click="$refs.relationModal.edit(hoveredLink)">
              Edit
            </q-btn>
            <q-btn flat color="warning" @click="$refs">
              Delete
            </q-btn>
          </q-card-actions>
        </q-card>
      </transition>
    </q-page-sticky>
    <q-page-sticky :offset="[18, 120]" position="bottom-right">
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-card v-show="showInfo && hoveredNode.id" style="min-width: 250px;">
          <q-card-title class="bg-secondary text-grey-3">
            <span class="uppercase text-grey-3">{{ hoveredNode.name }}</span>
            <q-icon
              slot="right"
              name="fal fa-times"
              color="grey-3"
              class="cursor-pointer"
              @click.native="showInfo = false"
            />
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <q-list>
              <q-item>
                <q-item-side icon="fal fa-calendar" />
                <q-item-main label="DOB" />
                <q-item-side right>
                  <q-item-tile>{{ hoveredNode.birthDate | formatDate('DD-MMM-YYYY') }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-at" />
                <q-item-main label="Email" />
                <q-item-side right>
                  <q-item-tile>{{ hoveredNode.email }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-tachometer" />
                <q-item-main label="Attribute" />
                <q-item-side right>
                  <q-item-tile>{{ hoveredNode.attribute }}</q-item-tile>
                </q-item-side>
              </q-item>
              <q-item>
                <q-item-side icon="fal fa-address-book" />
                <q-item-main label="Address" />
                <q-item-side right>
                  <q-item-tile>{{ hoveredNode.address }}</q-item-tile>
                  <q-item-tile>{{ hoveredNode.city }}</q-item-tile>
                  <q-item-tile>{{ hoveredNode.postCode }}</q-item-tile>
                  <q-item-tile>{{ hoveredNode.country }}</q-item-tile>
                </q-item-side>
              </q-item>
            </q-list>
          </q-card-main>
          <q-card-actions>
            <q-btn flat color="primary" @click="$refs.workerModal.edit(hoveredNode)">Edit</q-btn>
            <q-btn flat color="warning" @click="$refs">Delete</q-btn>
          </q-card-actions>
        </q-card>
      </transition>
    </q-page-sticky>
    <q-page-sticky :offset="[18, 18]" position="bottom-right">
      <q-toolbar color="secondary" class="my-toolbar-margin">
        <!-- <span>Show</span> -->
        <q-select
          v-model="showOnly"
          :options="[
            { label: 'Show All', value: 'all' },
            { label: 'Show Neutral', value: 'neutral' },
            { label: 'Show Leaders', value: 'leader' },
            { label: 'Show Activists', value: 'activist' },
            { label: 'Show Supportive', value: 'supportive' },
            { label: 'Show Hostile', value: 'hostile' }
          ]"
          style="width: 120px;"
          color="secondary"
          inverted
          type="radio"
        />
        <q-checkbox v-model="options.showLegend" label="Legend" color="tertiary" />
        <q-checkbox v-model="select" label="Select" color="tertiary" />
        <!-- <q-checkbox v-model="options.nodeLabels" label="Names" color="tertiary" /> -->
      </q-toolbar>
    </q-page-sticky>
    <global-events @keydown.esc="onKeyEscape" />
  </div>
</template>

<script>
import networkGraph from 'components/network-graph';
import GlobalEvents from 'vue-global-events';
export default {
  name: 'SiteGraphComponent',
  components: { networkGraph, GlobalEvents },
  props: {
    site: { type: Object, required: true },
    workers: {
      type: Array[Object],
      required: true
    },
    relations: {
      type: Array[Object],
      default: () => []
    }
  },
  data() {
    return {
      hoveredLink: {},
      hoveredNode: {},
      showOnly: 'all',
      select: false,
      showInfo: true,
      showLinkInfo: true,
      infoTimeout: null,
      options: {
        cursor: 'default',
        size: {
          w: 800,
          h: 600
        },
        force: 2500,
        offset: {
          x: 0,
          y: 0
        },
        nodeSize: 18,
        nodeLabels: true,
        strLinks: true,
        showLegend: true
      }
    };
  },
  computed: {
    filteredNodes() {
      const show = this.showOnly;
      if (show === 'all') return this.workers;
      return this.workers.filter(w => show === w.attribute);
    },
    filteredLinks() {
      const nodes = this.filteredNodes;
      return this.relations.filter(link => {
        return this.nodeExists(link.sourceId, nodes) && this.nodeExists(link.targetId, nodes);
      });
    },
    selectedNodes() {
      return this.workers.filter(w => w.selected);
    },
    selectedLinks() {
      return this.relations.filter(w => w.selected);
    }
  },
  watch: {
    select(newVal) {
      if (newVal) {
        this.options.cursor = 'crosshair';
      } else {
        this.unselectAll();
        this.showInfo = false;
        this.showLinkInfo = false;
        this.options.cursor = 'default';
      }
    }
  },
  mounted() {
    window.addEventListener('keydown', this.onKeydown);
    window.addEventListener('keyup', this.onKeyup);
  },
  beforeDestroy() {
    clearTimeout(this.infoTimeout);
    window.removeEventListener('keydown', this.onKeydown);
    window.removeEventListener('keyup', this.onKeyup);
  },
  methods: {
    onKeyEscape() {
      this.unselectAll();
      this.showInfo = false;
    },
    unselectAll() {
      this.filteredNodes.forEach(n => {
        n.selected = false;
      });
      this.filteredLinks.forEach(n => {
        n.selected = false;
      });
    },
    nodeExists(nodeId, nodes) {
      return nodes.findIndex(n => n.id === nodeId) > -1;
    },
    onHoverLink(evt, link) {
      if (this.selectedLinks.length === 0) {
        this.infoTimeout = setTimeout(() => {
          this.hoveredLink = link;
          this.showLinkInfo = true;
        }, 200);
      }
    },
    onHoverNode(evt, node) {
      if (this.selectedNodes.length === 0) {
        this.infoTimeout = setTimeout(() => {
          this.hoveredNode = node;
          this.showInfo = true;
        }, 500);
      }
    },
    onHoverOut(evt) {
      clearTimeout(this.infoTimeout);
    },
    onRefreshClick() {
      this.$emit('reload');
    },
    nodeClick(evt, node) {
      const selected = !!node.selected;
      if (this.select) {
        this.$set(node, 'selected', !selected);
      }
    },
    linkClick(evt, link) {
      const selected = !!link.selected;
      if (this.select) {
        this.$set(link, 'selected', !selected);
      }
    },
    onKeydown(event) {
      // switch (event.keyCode) {
      //   case 16:
      //   case 17:
      //     this.modifiers.add(event.key);
      // }
    },
    onKeyup(event) {
      // console.error(event.keyCode);
      // switch (event.keyCode) {
      //   case 16:
      //   case 17:
      //     this.modifiers.delete(event.key);
      // }
      // console.error(this.modifiers);
    }
  }
};
</script>

<style lang='stylus' scoped>
.my-toolbar-margin {
  border-radius: 10px;

  > * {
    margin: 0px 10px;
  }
}
</style>
