<template>
  <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New {{ newUnion?'Union':'Branch' }}
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-6 col-sm-12">
            <q-field :error="$v.union.name.$error" error-label="Please select Union Name">
              <q-input v-if="newUnion" v-model="union.name" float-label="Union Name*" />
              <q-select v-else v-model="union.name" :options="nameOptions" float-label="Union Name*" />
            </q-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-field :error="$v.union.branch.$error" error-label="Please enter a branch">
              <q-input v-model="union.branch" float-label="Branch Name*" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required, minLength } from 'vuelidate/lib/validators';

import { mapActions } from 'vuex';

export default {
  name: 'NewUnionModal',
  props: {
    newUnion: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      opened: false,
      union: {
        name: '',
        branch: ''
      },
      touchMap: new WeakMap()
    };
  },
  validations: {
    union: {
      name: { required },
      branch: { required, minLength: minLength(5) }
    }
  },
  computed: {
    nameOptions() {
      return this.$store.getters.unionNames.map(({ name }) => {
        return { label: name, value: name };
      });
    }
  },
  created() {
    this.reset();
    this.fetchUnionNames();
  },
  methods: {
    submit() {
      this.$v.union.$touch();
      if (this.$v.union.$error) {
        this.$q.notyfy({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      if (this.newUnion) {
        this.createUnion(this.union).then(() => {
          this.close();
        });
      } else {
        this.createUnion(this.union).then(() => {
          this.close();
        });
      }
    },
    open() {
      this.opened = true;
    },
    close() {
      this.reset();
      this.$v.$reset();
      this.opened = false;
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },

    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },

    reset() {
      this.union = {
        name: '',
        branch: ''
      };
    },
    ...mapActions(['createUnion', 'fetchUnionNames', 'createUnionBranch'])
  }
};
</script>
