<template>
  <q-table :data="unions" :columns="columns" row-key="id" >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props">
      <q-td key="id" :props="props">{{ props.row.id }}</q-td>
      <q-td key="name" :props="props">
        <span class="text-italic">{{ props.row.name }}</span>
      </q-td>
      <q-td key="branch" :props="props">  {{ props.row.branch }} </q-td>
      <q-td key="info" :props="props">
        <div class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            flat
            color="primary"
            icon="fa fa-hand-rock"
            class="q-mr-xs"
            @click="gotoUnion(props.row.id)"
          >
            <q-tooltip>{{ props.row.name }} Details</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'UnionCard',
  props: {
    unions: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        { field: 'id', label: 'Id', name: 'id', required: true, align: 'left' },
        { field: 'name', label: 'Name', name: 'name', required: true, align: 'left' },
        { field: 'branch', label: 'Branch', name: 'branch', required: true, align: 'left' },
        { field: 'id', label: 'Info', name: 'info', required: true, align: 'center' }
      ]
    };
  },
  methods: {
    gotoUnion(unionId) {
      // this.$router.push({ path: `/membership/unions/${unionId}` });
    }
  }
};
</script>
