<template>
  <q-modal v-model="opened"
           :content-css="{minWidth: '60vw', minHeight: '40vh'}"
           no-backdrop-dismiss
           @hide="reset"
  >
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          Upload File
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-12">
            <q-uploader
              ref="uploader"
              :url="url"
              :name="fieldname"
              auto-expand
              hide-upload-button
              color="secondary"
              float-label="Select a File to upload"
              extensions=".bmp,.gif,.jpg,.jpeg,.png,.doc,.docx,.pdf,.odt,.ods,.odp,.xlsx,.xls,.ppt,.pptx,"
              @uploaded="onUploaded"
              @fail="onFail"
            />
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="upload"
            color="positive"
            class="float-right save-button on-right"
            @click="$refs.uploader.upload()"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
export default {
  name: 'FileUpleadModal',
  props: {
    url: {
      type: String,
      required: true
    },
    fieldname: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      opened: false
    };
  },
  methods: {
    onUploaded(file) {
      this.$q.notify({
        message: `${file.name} successfully uploaded`,
        type: 'positive',
        position: 'top'
      });
      setTimeout(() => {
        this.close();
        this.$trackEvent('File', 'uploaded', file.name);
      }, 500);
    },
    onFail(file, xhr) {
      const response = JSON.parse(xhr.response);
      response.errors.map(e => {
        this.$q.notify({
          message: e.msg,
          type: 'negative',
          position: 'top'
        });
      });
      this.reset();
    },
    open() {
      this.opened = true;
    },
    close() {
      this.opened = false;
    },
    reset() {
      this.$refs.uploader.reset();
    }
  }
};
</script>
