<template>
  <q-table :data="users" :columns="columns"
           row-key="id" dense
           separator="horizontal"
  >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props" >
      <q-td key="id" :props="props">{{ props.row.id }}</q-td>
      <q-td key="name" :props="props">
        <span class="text-italic">{{ props.row.name }}</span>
        <q-tooltip>{{ props.row.name }}</q-tooltip>
      </q-td>
      <q-td key="email" :props="props">{{ props.row.email }}</q-td>
      <q-td key="phone" :props="props">{{ props.row.mobile || props.row.phone }}</q-td>
      <q-td key="lastActive" :props="props">{{ props.row.lastActive | timeago }}
        <q-tooltip>{{ props.row.lastActive|formatDateTime }}</q-tooltip>
      </q-td>
      <q-td key="info" :props="props">
        <div class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            flat
            round
            color="primary"
            icon="fa fa-user"
            class="q-mr-xs"
            @click="gotoUser(props.row.id)"
          >
            <q-tooltip>{{ props.row.name }} Details</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'UserCard',
  props: {
    users: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'id',
          label: 'ID',
          name: 'id',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          field: 'name',
          label: 'Name',
          name: 'name',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          field: 'email',
          label: 'Email',
          name: 'email',
          required: true,
          align: 'left'
        },
        {
          field: 'phone',
          label: 'Phone',
          name: 'phone',
          required: true,
          align: 'left'
        },
        {
          field: 'lastActive',
          label: 'Active',
          name: 'lastActive',
          required: true,
          align: 'left'
        },
        {
          field: 'id',
          label: 'Info',
          name: 'info',
          required: true,
          align: 'center'
        }
      ]
    };
  },
  methods: {
    gotoUser(userId) {
      this.$router.push({ path: `/admin/users/${userId}` });
      // console.error(userId)
    }
  }
};
</script>
