<template>
  <q-list>
    <q-item >
      <q-item-side color="green" icon="" />
      <q-item-main label="Name">
        <q-item-tile color="grey">Attribute</q-item-tile>
      </q-item-main>
      <q-item-side right>
        <q-item-tile color="green">Last Active</q-item-tile>
      </q-item-side>
    </q-item>
    <hr>
    <q-item v-for="u in users" :key="u.id" :to="`/admin/users/${u.id}`" link>
      <q-item-side color="green" icon="fal fa-user" />
      <q-item-main :label="u.name">
        <q-item-tile color="grey">{{ u.attribute }}</q-item-tile>
      </q-item-main>
      <q-item-side right>
        <q-item-tile color="green">{{ u.lastActive || formatDate }}</q-item-tile>
      </q-item-side>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'UserList',
  props: {
    users: {
      type: Array[Object],
      required: true
    }
  }
};
</script>

