<template>
  <q-table :data="invitations" :columns="columns"
           row-key="id" dense
           separator="horizontal"
  >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props" >
      <q-td key="UserId" :props="props">{{ props.row.UserId || 'Not accepted yet' }}</q-td>
      <q-td key="createdBy" :props="props">{{ props.row.createdBy }}</q-td>
      <q-td key="email" :props="props">{{ props.row.email }}</q-td>
      <q-td key="expiry" :props="props" class="capitalize">{{ props.row.expiry | timeago }}
        <q-tooltip>{{ props.row.expiry|formatDateTime }}</q-tooltip>
      </q-td>
      <q-td key="accepted" :props="props">
        <div v-if="props.row.accepted" class="row items-center justify-around no-wrap capitalize">
          Accepted: {{ props.row.accepted | timeago }}
          <q-tooltip>{{ props.row.accepted|formatDateTime }}</q-tooltip>
        </div>
        <div v-else class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            flat
            color="primary"
            icon="fa fa-envelope"
            class="q-mr-xs"
            @click="confirmResend(props.row.id)"
          >
            <q-tooltip>Send Invitation Again</q-tooltip>
          </q-btn>
        </div>
      </q-td>
      <q-td key="delete" :props="props">
        <div v-if="!props.row.accepted" class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            flat
            color="negative"
            icon="fa fa-trash"
            class="q-mr-xs"
            @click="confirmDelete(props.row.id)"
          />
          <q-tooltip>Delete Invitation</q-tooltip>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'UserInvitationsTable',
  props: {
    invitations: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'UserId',
          label: 'UserId',
          name: 'UserId',
          required: false,
          align: 'left',
          sortable: true
        },
        {
          field: 'createdBy',
          label: 'Invited By',
          name: 'createdBy',
          required: true,
          align: 'left',
          sortable: true
        },
        {
          field: 'email',
          label: 'Email',
          name: 'email',
          required: true,
          align: 'left'
        },
        {
          field: 'expiry',
          label: 'Expiry',
          name: 'expiry',
          required: true,
          align: 'left'
        },
        {
          field: 'accepted',
          label: 'Action',
          name: 'accepted',
          required: false,
          align: 'center'
        },
        {
          field: 'delete',
          label: 'Delete',
          name: 'delete',
          required: false,
          align: 'center'
        }
      ]
    };
  },
  methods: {
    ...mapActions(['updateUserInvitation', 'deleteUserInvitation']),
    confirmResend(id) {
      this.$q
        .dialog({
          title: 'Resend Invitation Email!',
          message: 'New invitation will expire in 24 hours from now.',
          color: 'primary',
          ok: {
            color: 'positive',
            label: 'OK'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.updateUserInvitation({ id, expiry: 24 });
        });
    },
    confirmDelete(id) {
      this.$q
        .dialog({
          title: 'Delete Invitation',
          // message: 'Confirm Logout',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Delete'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.deleteUserInvitation(id);
        });
    }
  }
};
</script>
