<template>
  <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '60vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New User
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-6 col-sm-12">
            <q-field :error="$v.user.title.$error" error-label="Please select a title">
              <q-select v-model="user.title" :options="titles" float-label="Title*" />
            </q-field>
            <q-field :error="$v.user.firstName.$error" error-label="Please enter First Name">
              <q-input v-model="user.firstName" float-label="First Name*" @input="user.firstName = capitalize(user.firstName)" />
            </q-field>

            <q-input v-model="user.middleName" float-label="Middle Name" @input="user.middleName = capitalize(user.middleName)" />

            <q-field :error="$v.user.lastName.$error" error-label="Please enter Last Name">
              <q-input v-model="user.lastName" float-label="Last Name*" @input="user.lastName = capitalize(user.lastName)" />
            </q-field>
            <q-field :error="$v.user.email.$error" error-label="Please enter valid email">
              <q-input v-model="user.email" type="email" float-label="Email*" @change="validate($v.user.email)" />
            </q-field>


            <q-field v-if="isNew" :error="$v.user.id.$error" error-label="User Id too short or already in use">
              <q-input
                :disabled="!isNew"
                v-model="user.id"
                float-label="Id*"
                placeholder="@id CANNOT be changed"
                @input="sanitizeUserId"
                @change="validate($v.user.id)"
              />
            </q-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-field v-if="isNew" :error="$v.user.UnionId.$error" error-label="Please select a Union">
              <q-select v-model="user.UnionId" :options="unionOptinos" float-label="Union*" />
            </q-field>
            <q-datetime
              v-model="user.birthDate"
              default-view="year"
              format="ddd DD/MMM/YYYY"
              type="date"
              float-label="Birth Date"
            />
            <q-input v-model="user.mobile" float-label="Mobile" />

            <q-input v-model="user.address" float-label="Address" />

            <q-input v-model="user.city" float-label="City" />

            <q-input v-model="user.postCode" float-label="Post Code" @input="user.postCode = user.postCode.toUpperCase()" />
          </div>

        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          >
            {{ isNew ? 'Send Invitation': 'Update' }}
          </q-btn>
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required, minLength, email } from 'vuelidate/lib/validators';

import { mapActions } from 'vuex';

export default {
  name: 'NewUserModal',
  props: {
    isNew: { type: Boolean, default: false },
    data: {
      type: Object,
      default: () => ({
        id: '',
        title: 'Ms',
        firstName: '',
        middleName: '',
        lastName: '',
        birthDate: '',
        email: '',
        mobile: '',
        phone: '',
        address: '',
        city: '',
        county: '',
        postCode: '',
        UnionId: ''
      })
    }
  },
  data() {
    return {
      user: {},
      opened: false,
      touchMap: new WeakMap(),
      titles: [
        {
          label: 'Ms',
          value: 'Ms'
        },
        {
          label: 'Mr',
          value: 'Mr'
        },
        {
          label: 'Mrs',
          value: 'Mrs'
        },
        {
          label: 'Miss',
          value: 'Miss'
        }
      ]
    };
  },
  validations: {
    user: {
      title: { required },
      id: {
        required,
        minLength: minLength(5),
        isUnique(id) {
          // if not enterd or this is not a new user
          if (id === '' || !this.isNew) return true;
          return this.$http({
            url: '/users/' + id + '/check',
            method: 'get'
          })
            .then(res => {
              return res.status === 200;
            })
            .catch(() => false);
        }
      },
      email: { required, email },
      firstName: { required },
      lastName: { required },
      UnionId: { required }
    }
  },
  computed: {
    me() {
      return this.$store.getters.me;
    },
    unionOptinos() {
      return this.$store.getters.unions.map(u => {
        return {
          label: `${u.name} ${u.branch}`,
          value: u.id
        };
      });
    },
    name() {
      return (this.user.firstName + ' ' + this.user.lastName).trim() || 'Name';
    },
    attributeOptions() {
      return this.$store.getters.attributes.map(a => {
        return {
          label: a.name,
          value: a.name
        };
      });
    }
  },
  created() {
    // this.reset();
    // this.fetchAttributes();
    this.fetchUnions();
  },
  methods: {
    submit() {
      this.$v.user.$touch();
      if (this.$v.user.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      if (this.isNew) {
        this.createUser(this.$h.prune(this.user))
          .then(() => {
            this.fetchUserById(this.user.id);

            this.close();
          })
          .catch(({ response }) => {
            // console.error(response);
          });
      } else {
        this.updateUser(this.$h.prune(this.user))
          .then(() => {
            this.fetchUserById(this.user.id);

            this.close();
          })
          .catch(({ response }) => {
            // console.error(response);
          });
      }
    },
    open() {
      this.user = Object.assign({}, this.data);
      if (!this.user.UnionId) this.user.UnionId = this.me.UnionId;
      this.opened = true;
    },
    close() {
      // this.reset();
      this.$v.$reset();
      this.opened = false;
    },

    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
    sanitizeUserId() {
      if (this.user.id.charAt(0) !== '@') {
        this.user.id = `@${this.user.id}`.toLowerCase();
      }
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    ...mapActions(['createUser', 'fetchUserById', 'updateUser', 'fetchUnions'])
  }
};
</script>
