<template>
  <q-btn-dropdown
    :label="me.name"
    :color="isOnline?'green':'light'"
    dense
    flat
    icon="far fa-user"
  >
    <q-list link>
      <q-item v-close-overlay @click.native="logoutRedirect">
        <q-item-main>
          <q-item-tile label>Logout</q-item-tile>
        </q-item-main>
        <q-item-side icon="fal fa-sign-out" />
      </q-item>
      <q-item v-close-overlay @click.native="toggleSound">
        <q-item-main>
          <q-item-tile label >{{ playSound ? 'Sound On':'Sound Off' }}</q-item-tile>
        </q-item-main>
        <q-item-side v-if="playSound" icon="fal fa-bell" color="green"/>
        <q-item-side v-else icon="fal fa-bell-slash" color="red" />
      </q-item>
      <q-item v-close-overlay v-if="$q.fullscreen.isCapable" @click.native="toggleFullscreen">
        <q-item-main>
          <q-item-tile label >{{ $q.fullscreen.isActive?'Exit Fullscreen':'Fullscreen' }}</q-item-tile>
        </q-item-main>
        <q-item-side v-if="$q.fullscreen.isActive" icon="fa fa-arrows-alt" />
        <q-item-side v-else icon="fa fa-arrows-alt"/>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'UserMenu',
  computed: {
    ...mapGetters(['me', 'playSound', 'isOnline'])
  },
  methods: {
    toggleFullscreen() {
      this.$q.fullscreen.toggle();
    },
    toggleSound() {
      this.setSound(!this.playSound);
    },
    logoutRedirect() {
      this.$q
        .dialog({
          title: 'Confirm Logout',
          // message: 'Confirm Logout',
          color: 'primary',
          ok: {
            color: 'negative',
            label: 'Logout'
          },
          cancel: {
            label: 'Cancel'
          }
        })
        .then(() => {
          this.logout();
          this.$router.replace({ path: '/login' });
          window.location.reload(false);
        });
    },
    ...mapActions(['logout', 'setSound'])
  }
};
</script>
