<template>
  <q-modal v-model="opened" :content-css="{minWidth: '60vw', minHeight: '40vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          User Invitation
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-12 col-sm-12">
            <q-field :error="$v.invitation.email.$error" error-label="email not valid or already in use">
              <q-input v-model="invitation.email" type="email" float-label="Email*" @blur="validate($v.invitation.email)" />
            </q-field>
            <q-field :error="$v.invitation.UnionId.$error" error-label="Please select a Union">
              <q-select v-model="invitation.UnionId" :options="unionOptinos" float-label="Union*" />
            </q-field>
            <q-field :error="$v.invitation.expiry.$error" error-label="Please select Expiry">
              <q-select v-model="invitation.expiry" :options="expiries" float-label="Expires In*" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          >
            Send Invitation
          </q-btn>
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators';

import { mapActions } from 'vuex';

export default {
  name: 'UserInvitationModal',
  data() {
    return {
      invitation: {},
      opened: false,
      touchMap: new WeakMap(),
      expiries: [
        {
          label: '12 Hours',
          value: 12
        },
        {
          label: '24 Hours',
          value: 24
        },
        {
          label: '48 Hours',
          value: 48
        }
      ]
    };
  },
  validations: {
    invitation: {
      email: {
        required,
        email,
        notInUse(email) {
          return this.$http({
            url: '/user-invitations/check/email',
            method: 'post',
            data: { email }
          })
            .then(res => res.status === 200)
            .catch(() => false);
        }
      },
      expiry: { required },
      UnionId: { required }
    }
  },
  computed: {
    me() {
      return this.$store.getters.me;
    },
    unionOptinos() {
      return this.$store.getters.unions.map(u => {
        return {
          label: `${u.name} ${u.branch}`,
          value: u.id
        };
      });
    },
    name() {
      return (this.invitation.firstName + ' ' + this.invitation.lastName).trim() || 'Name';
    },
    attributeOptions() {
      return this.$store.getters.attributes.map(a => {
        return {
          label: a.name,
          value: a.name
        };
      });
    }
  },
  created() {
    this.fetchUnions();
  },
  methods: {
    submit() {
      this.$v.invitation.$touch();
      if (this.$v.invitation.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning'
        });
        return;
      }
      this.sendUserInvitation(this.invitation).then(invitation => {
        this.close();
        this.$q.notify({
          message: `Invitation email sent to ${invitation.email}!`,
          position: 'top',
          type: 'positive'
        });
        this.$trackEvent('User', 'invitation', 'sent');
      });
    },
    open() {
      this.invitation = {
        UnionId: this.me.UnionId,
        expiry: 24,
        email: ''
      };
      this.opened = true;
    },
    close() {
      // this.reset();
      this.$v.$reset();
      this.opened = false;
    },

    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },
    ...mapActions(['sendUserInvitation', 'fetchUnions'])
  }
};
</script>
