<template>
  <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '60vh'}">
    <q-modal-layout>
      <q-toolbar slot="header">
        <q-toolbar-title>
          New Worker
        </q-toolbar-title>
        <q-btn
          v-close-overlay
          flat
          round
          dense
          icon="fal fa-times"
        />
      </q-toolbar>
      <div class="layout-padding">
        <div class="row gutter-md">
          <div class="col-md-6 col-sm-12">
            <q-field class="q-pa-sm">
              <q-select v-model="worker.title" :options="titles" float-label="Title*" />
            </q-field>
            <q-field :error="$v.worker.firstName.$error" error-label="First Name must be at least 2 letters" class="q-pa-sm">
              <q-input
                v-model="worker.firstName"
                float-label="First Name*"
                @input="worker.firstName = $h.capitalize(worker.firstName)"
                @change="validate($v.worker.firstName)"
              />
            </q-field>

            <q-field :error="$v.worker.lastName.$error" error-label="Last Name must be at least 2 letters" class="q-pa-sm">
              <q-input
                v-model="worker.lastName"
                float-label="Last Name*"
                @input="worker.lastName = $h.capitalize(worker.lastName)"
                @change="validate($v.worker.lastName)"
              />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.mobile" float-label="Mobile" />
            </q-field>
            <q-field :error="$v.worker.email.$error" error-label="Please enter valid email" class="q-pa-sm">
              <q-input v-model="worker.email" type="email" float-label="Email" @change="validate($v.worker.email)" />
            </q-field>

            <q-field :error="$v.worker.attribute.$error" error-label="Please select an attribute" class="q-pa-sm">
              <q-select v-model="worker.attribute" :options="attributeOptions" float-label="Attribute*" />
            </q-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-field class="q-pa-sm">
              <q-datetime
                v-model="worker.birthDate"
                default-view="year"
                format="ddd DD/MMM/YYYY"
                type="date"
                float-label="Birth Date"
              />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.address" float-label="Address" />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.city" float-label="City" />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.county" float-label="County" />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.postCode" float-label="Post Code" @input="worker.postCode = worker.postCode.toUpperCase()" />
            </q-field>
            <q-field class="q-pa-sm">
              <q-input v-model="worker.country" float-label="Country" />
            </q-field>
          </div>
        </div>
      </div>
      <q-toolbar slot="footer">
        <q-toolbar-title>
          <q-btn
            label="Save"
            color="positive"
            class="float-right save-button on-right"
            @click="submit"
          />
          <q-btn
            label="Cancel"
            color="negative"
            class="float-right on-left"
            @click="close"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';
import { mapActions } from 'vuex';
export default {
  name: 'WorkerModal',
  props: {
    site: {
      type: Object,
      required: true,
      default: () => ({}),
      validator(value) {
        return !!value.id;
      }
    }
  },
  data() {
    return {
      worker: {},
      opened: false,
      touchMap: new WeakMap(),
      titles: [
        {
          label: 'Ms',
          value: 'Ms'
        },
        {
          label: 'Mr',
          value: 'Mr'
        },
        {
          label: 'Mrs',
          value: 'Mrs'
        },
        {
          label: 'Miss',
          value: 'Miss'
        }
      ]
    };
  },
  validations: {
    worker: {
      email: { email },
      firstName: { required, minLength: minLength(2) },
      lastName: { required, minLength: minLength(2) },
      attribute: { required }
    }
  },
  computed: {
    name() {
      return (this.worker.firstName + ' ' + this.worker.lastName).trim() || 'Name';
    },
    attributeOptions() {
      return this.$store.getters.attributes.map(a => {
        return {
          label: a.name,
          value: a.name
        };
      });
    }
  },
  created() {
    this.fetchAttributes();
  },
  methods: {
    submit() {
      this.$v.worker.$touch();
      if (this.$v.worker.$error) {
        this.$q.notify({
          message: 'Please review the field[s] and try again.',
          position: 'top',
          type: 'warning',
          icon: 'fal fa-exclamation-circle'
        });
        return;
      }
      if (this.worker.id) {
        this.editWorker(this.$h.prune(this.worker)).then(() => {
          this.$emit('success');

          this.close();
        });
      } else {
        this.addNewWorker({
          id: this.site.id,
          data: this.$h.prune(this.worker)
        }).then(() => {
          this.$emit('success');
          this.close();
        });
      }
    },
    open() {
      this.reset();
      this.opened = true;
    },
    close() {
      this.$v.$reset();
      this.opened = false;
    },
    validate($vProp) {
      $vProp.$reset();
      if (this.touchMap.has($vProp)) {
        clearTimeout(this.touchMap.get($vProp));
      }
      this.touchMap.set($vProp, setTimeout($vProp.$touch, 1000));
    },

    reset() {
      this.worker = {
        title: 'Ms',
        firstName: '',
        middleName: '',
        lastName: '',
        birthDate: '',
        attribute: 'neutral',
        email: '',
        email2: '',
        mobile: '',
        phone: '',
        phone2: '',
        fax: '',
        address: '',
        address2: '',
        city: '',
        county: '',
        postCode: '',
        country: 'UK'
      };
    },
    ...mapActions(['addNewWorker', 'fetchAttributes', 'editWorker'])
  }
};
</script>

