<template>
  <q-list>
    <q-item v-for="w in workers" :key="w.id" :to="`/membership/worker/${w.id}`" link>
      <q-item-side color="green" icon="fal fa-user" />
      <q-item-main :label="w.name">
        <q-item-tile color="grey">{{ w.attribute }}</q-item-tile>
      </q-item-main>
      <q-item-side right>
        <q-item-tile color="green">{{ w.isMember }}</q-item-tile>
      </q-item-side>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'WorkerList',
  props: {
    workers: {
      type: Array[Object],
      required: true
    }
  }
};
</script>

