<template>
  <div v-if="editable">
    <div class="row q-pa-sm gutter-md">
      <div class="col-lg-6 col-md-12">
        <q-input v-model="meeting.title" float-label="Title" autofocus/>
      </div>
      <div class="col-lg-6 col-md-12">
        <q-input v-model="meeting.location" float-label="location" />
      </div>
    </div>
    <div class="row q-pa-sm gutter-md">
      <div class="col-lg-6 col-md-12">
        <q-datetime v-model="meeting.start"
                    :first-day-of-week="1"
                    prefix="Start :"
                    placeholder="Date Time"
                    type="datetime"
                    format="DD-MMM-YYYY hh:mm A "
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <q-datetime :disable="!meeting.start"
                    v-model="meeting.finish"
                    :first-day-of-week="1"
                    type="datetime"
                    prefix="Finish :"
                    placeholder="Date Time"
                    format="DD-MMM-YYYY hh:mm A "
        />
      </div>
    </div>
    <div class="row gutter-md">
      <div class="col-md-12 col-lg-8 offset-lg-2">
        <q-input
          v-model="meeting.notes"
          :max-height="100"
          type="textarea"
          float-label="Meeting Notes"
          rows="4"
          placeholder="This text will be sent in the email to the participants"
        />
      </div>
    </div>
  </div>
  <div v-else>
    <table class="q-table fit responsive striped-odd highlight capitalize">
      <tbody>
        <tr>
          <td class="uppercase">Status</td>
          <td class="text-right">{{ meeting.status }}</td>
        </tr>
        <tr>
          <td class="uppercase">Scheduled Start</td>
          <td class="text-right">{{ meeting.start | formatDateTime }}</td>
        </tr>
        <tr>
          <td class="uppercase">Scheduled Finish</td>
          <td class="text-right">{{ meeting.finish| formatDateTime }}</td>
        </tr>
        <tr>
          <td class="uppercase">Type</td>
          <td class="text-right">{{ meeting.Type }}</td>
        </tr>
        <tr>
          <td class="uppercase">Location</td>
          <td class="text-right">{{ meeting.location }}</td>
        </tr>
        <tr>
          <td class="uppercase">Created At</td>
          <td class="text-right">{{ meeting.createdAt| formatDateTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</template>
<script>
import isBefore from 'date-fns/is_before';
import addMinutes from 'date-fns/add_minutes';
export default {
  name: 'MeetingBody',
  components: { },
  props: {
    meeting: {
      type: Object,
      required: true
    },
    editable: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      types: []
    };
  },
  watch: {
    'meeting.start': function(val) {
      if (!val) return;
      if (!this.meeting.finish || isBefore(this.meeting.finish, val)) {
        this.meeting.finish = addMinutes(val, 120);
        // console.error('fired');
      }
    },
    'meeting.finish': function(val) {
      if (isBefore(val, this.meeting.start)) {
        this.meeting.finish = addMinutes(this.meeting.start, 120);
        // console.error('fired');
      }
    }
  }
};
</script>
