<template>
  <q-table :data="meetings" :columns="columns" row-key="id" >
    <!-- slot name syntax: body-cell-<column_name> -->
    <q-tr slot="body" slot-scope="props" :props="props">
      <q-td key="title" :props="props">{{ props.row.title }}</q-td>
      <q-td key="location" :props="props">{{ props.row.location }}</q-td>
      <q-td key="start" :props="props">{{ props.row.start | formatDateTime }}</q-td>
      <q-td key="finish" :props="props">  {{ props.row.finish | formatDateTime }} </q-td>
      <q-td key="notes" :props="props">{{ props.row.notes | truncate }}
        <q-tooltip>{{ props.row.notes }}</q-tooltip>
      </q-td>
      <q-td key="createdBy" :props="props">{{ props.row.createdBy }}</q-td>
      <q-td key="Participants" :props="props">{{ props.row.Participants.map(p => p.name).join(', ') }}</q-td>
      <q-td key="id" :props="props">
        <div class="row items-center justify-around no-wrap">
          <q-btn
            size="md"
            round
            dense
            color="tertiary"
            icon="fa fa-info"
            class="q-mr-xs"
            @click="gotoMeeting(props.row.id)"
          >
            <q-tooltip>{{ props.row.name }} Details</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-tr>
  </q-table>
</template>

<script>
export default {
  name: 'MeetingsTable',
  props: {
    meetings: {
      type: Array[Object],
      required: true
    }
  },
  data() {
    return {
      columns: [
        { field: 'title', label: 'Title', name: 'title', required: true, align: 'left' },
        { field: 'location', label: 'Location', name: 'location', required: true, align: 'left' },
        { field: 'start',
          label: 'Start',
          name: 'start',
          required: true,
          align: 'left',
          sortable: true,
          sort: (a, b) => new Date(a) - new Date(b)},
        { field: 'finish', label: 'Finish', name: 'finish', required: true, align: 'left' },
        { field: 'notes', label: 'Notes', name: 'notes', required: true, align: 'left' },
        { field: 'createdBy', label: 'CreatedBy', name: 'createdBy', required: true, align: 'left', sortable: true },
        { field: 'Participants', label: 'Participants', name: 'Participants', required: true, align: 'left' },
        { field: 'id', label: 'Info', name: 'id', required: true, align: 'center' }
      ]
    };
  },
  methods: {
    gotoMeeting(meetingId) {
      this.$router.push({ path: `/meetings/${meetingId}` });
      // console.error(meetingId)
    }
  }
};
</script>
