<template>
  <q-card v-if="meeting.Participants">
    <q-card-title class="bg-secondary text-grey-3">
      <div class="card-title-name text-grey-3">Participants</div>
    </q-card-title>
    <q-card-separator />
    <q-card-main>
      <q-list highlight>
        <q-list-header>Participants</q-list-header>
        <q-item v-for="p in meeting.Participants" :key="p.id">
          <q-item-side>
            <q-item-tile icon="person" color="primary" />
          </q-item-side>
          <q-item-main>
            {{ p.name }}
          </q-item-main>
          <q-item-side right>
            <q-select v-model="p.MeetingParticipants.role" :options="roleOptions" @change="onRoleChange(p)" />
          </q-item-side>
          <q-item-side right>
            <q-checkbox v-model="p.sendInvitation" label="Send Invitation" />
          </q-item-side>
          <q-item-side right>
            <q-item-tile icon="close" color="red" class="cursor-pointer" @click="removeParticipant(p)" />
          </q-item-side>
        </q-item>
      </q-list>
      <searchWorkers :action="addParticipant" :workers="workers" place-holder="Add Participants" />
    </q-card-main>
  </q-card>
</template>

<script>
import searchWorkers from 'components/search-workers';
import { mapGetters, mapActions } from 'vuex';
export default {
  components: {
    searchWorkers
  },
  props: {
    meeting: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      roleOptions: [
        { value: 'participant', label: 'Participant' },
        { value: 'organiser', label: 'Organiser' },
        { value: 'observer', label: 'Observer' }
      ]
    };
  },
  computed: { ...mapGetters(['workers']) },
  created() {
    this.fetchWorkers();
    this.meeting.Participants.map(p => {
      p.sendInvitation = true;
    });
  },
  methods: {
    addParticipant(participant) {
      if (!this.meeting.Participants.find(p => p.id === participant.id)) {
        const pToAdd = {
          name: participant.name,
          id: participant.id,
          sendInvitation: true,
          MeetingParticipants: {
            MeetingId: this.meeting.id,
            WorkerId: participant.id,
            role: 'participant'
          }
        };
        this.$http({
          url: `/meeting-participants`,
          method: 'post',
          data: pToAdd.MeetingParticipants
        })
          .then(res => {
            Object.assign(pToAdd.MeetingParticipants, res.data);
            this.meeting.Participants.push(pToAdd);
          })
          .catch(e => console.error(e));
      }
    },
    removeParticipant(p) {
      this.$http({
        url: `/meeting-participants/${p.MeetingParticipants.id}`,
        method: 'delete'
      }).then(res => {
        this.meeting.Participants = this.meeting.Participants.filter(i => i.id !== p.id);
      });
    },
    onRoleChange(p) {
      this.$http({
        url: `/meeting-participants/${p.MeetingParticipants.id}`,
        method: 'put',
        data: p.MeetingParticipants
      })
        .then(res => {
          // console.log(res.data);
          Object.assign(p.MeetingParticipants, res.data);
        })
        .catch(e => console.error(e));
    },
    ...mapActions(['fetchWorkers'])
  }

};
</script>
