<template>
  <div v-if="meeting.Agendas && meeting.Agendas.length">
    <p class="text-bold uppercase" style="margin: 10px;">
      <span style="border-bottom: 1px solid #b1b1b0;">Agenda Items</span>
    </p>
    <div v-for="(item, i) in meeting.Agendas" :key="item.id">
      <q-input :float-label="`Item ${i+1}`" v-model="item.item"
               :autofocus="i >= 1" style="display: inline-block; margin: 5px; width: 95%;"
               @keyup.enter="addAgenda(i+1)"
      />
      <q-icon name="fa fa-times" color="negative" class="cursor-pointer" @click="removeAgenda(item)" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'NewMeetingAgendas',
  props: {
    meeting: {
      type: Object,
      required: true
    }
  },
  mounted() {
    if (this.meeting.Agendas.length < 1) {
      this.addAgenda();
    }
  },
  methods: {
    addAgenda(index) {
      this.postAgenda().then(agenda => {
        if (!index) {
          this.meeting.Agendas.push(agenda);
        } else {
          this.meeting.Agendas.splice(index, 0, agenda);
        }
      });
    },
    postAgenda() {
      return Promise.resolve({
        id: Math.random().toString(),
        item: '',
        discussion: '',
        action: ''
      });
    },
    removeAgenda(item) {
      if (this.meeting.Agendas.length > 1) {
        this.$http({
          url: '/meeting-agendas/' + item.id,
          method: 'delete'
        }).then(() => {
          this.meeting.Agendas = this.meeting.Agendas.filter(i => i.id !== item.id);
        });
      }
    }
  }
};
</script>
