<template>
  <div id="q-app">
    <q-ajax-bar
      :delay="100"
      :size="size"
      color="red-12"
      position="top"
    />
    <router-view />
    <chat-setup v-if="loggedIn"/>
    <login-modal/>
  </div>
</template>

<script>
import ChatSetup from 'components/chat-setup';
import loginModal from 'components/login-modal';
import { mapGetters } from 'vuex';
export default {
  name: 'App',
  components: { ChatSetup, loginModal },
  computed: {
    ...mapGetters(['loggedIn']),
    size() {
      if (this.$q.platform.is.mobile) {
        return '1px';
      }
      return '3px';
    }
  },
  created() {
    if (!this.$q.localStorage.get.item('cookie-notification')) {
      this.$q.notify({
        message: 'We use Cookies to measure App porformence.',
        position: 'top',
        type: 'positive'
      });
      this.$q.localStorage.set('cookie-notification', true);
    }
  }
};
</script>

<style>
</style>
