<!DOCTYPE html>
<html <% if (htmlWebpackPlugin.options.rtl) { %>dir="rtl"
<% } %>lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <title>
      <%= htmlWebpackPlugin.options.productName %>
    </title>


    <link rel="icon" type="image/x-icon" href="statics/logo.png">
    <link rel="icon" type="image/png" sizes="64x64" href="statics/icons/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">



    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDomains", ["*.hub.letsorganise.app"]]);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "//stats.hgill.io/";
        _paq.push(['setTrackerUrl', u + 'pk.php']);
        _paq.push(['setSiteId', '3']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'pk.js'; s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>

  <body>
    <% if (!htmlWebpackPlugin.options.ctx.mode.electron) { %>
      <noscript>
        You must enable JavaScript in you browser to be able to use this App.
      </noscript>
      <% } %>

        <!-- DO NOT touch the following <div> -->
        <div id="q-app"></div>

        <!-- built files will be auto injected here -->
  </body>

</html>