<template>
  <q-layout>
    <q-layout-header>
      <default-header/>
      <router-tabs/>
      <q-tabs>
        <q-route-tab slot="title" label="Profile" to="/admin" />
        <q-route-tab v-if="isActivist" slot="title" label="Invitations" to="/admin/invitations" />
        <q-route-tab v-if="isOrganiser" slot="title" label="Users" to="/admin/users" />
        <q-route-tab v-if="isAdmin" slot="title" label="Groups" to="/admin/groups" />
        <q-route-tab v-if="isAdmin" slot="title" label="Unions" to="/admin/unions" />
      </q-tabs>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <default-footer/>
  </q-layout>
</template>

<script>
import routerTabs from 'components/router-tabs';
import defaultFooter from 'components/default-footer';
import defaultHeader from 'components/default-header';
import { mapGetters } from 'vuex';

export default {
  name: 'AdminLayout',
  components: { routerTabs, defaultFooter, defaultHeader },
  computed: {
    ...mapGetters(['isAdmin', 'isActivist', 'isOrganiser', 'isRoot'])
  }
};
</script>
