<template>
  <q-layout view="hHh lpr fFf">
    <q-layout-header>
      <default-header>
        <q-btn
          flat
          dense
          round
          aria-label="Menu"
          icon="fal fa-bars"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
      </default-header>
      <router-tabs/>
    </q-layout-header>
    <q-layout-drawer
      v-model="leftDrawerOpen"
      :mini="leftMiniState"
      content-class="bg-grey-2"
      side="left"
      mini-width="80px"
      @click.capture="leftDrawerClick"
    >
      <div class="row justify-end">
        <q-btn
          icon="fa fa-angle-double-left"
          class="q-mini-drawer-hide float-right"
          round
          flat
          @click="leftMiniState = true"
        />
        <q-btn
          icon="fa fa-angle-double-right"
          class="q-mini-drawer-only float-right"
          round
          flat
          @click="leftMiniState = false"
        />
      </div>
      <q-tabs align="justify" inverted>
        <q-tab
          slot="title"
          :count="onlineUsers.length"
          name="users"
          label="Users"
          icon="fal fa-users"
          hide="label"
        />
        <q-tab
          slot="title"
          default
          name="Chats"
          label="Chats"
          icon="fal fa-comments"
          hide="label"
        />
        <q-tab-pane keep-alive name="users">
          <chat-users/>
        </q-tab-pane>
        <q-tab-pane keep-alive name="Chats">
          <new-chat-btn full-width/>
          <q-list no-border link inset-delimiter >
            <chat-link
              v-for="chat in chats"
              :key="chat.id"
              :chat="chat"
            />
          </q-list>
        </q-tab-pane>
      </q-tabs>
    </q-layout-drawer>
    <q-layout-drawer
      v-show="chat"
      v-model="filesDrawerOpen"
      :mini="rightMiniState" side="right"
      content-class="bg-grey-2"
      mini-width="80px"
    >
      <q-btn
        icon="fa fa-angle-double-right"
        class="q-mini-drawer-hide"
        round
        flat
        @click="rightMiniState = true"
      />
      <q-btn
        icon="fa fa-angle-double-left"
        class="q-mini-drawer-only"
        round
        flat
        @click="rightMiniState = false"
      />
      <chat-files-drawer v-if="chat" :chat="chat" :key="chat.id"/>
    </q-layout-drawer>
    <q-page-container>
      <keep-alive>
        <router-view />
      </keep-alive>
    </q-page-container>
  </q-layout>
</template>

<script>
import routerTabs from 'components/router-tabs';
import defaultFooter from 'components/default-footer';
import defaultHeader from 'components/default-header';
import chatLink from 'components/chat-link';
import newChatBtn from 'components/new-chat-btn';
import chatFilesDrawer from 'components/chat-files-drawer';
import chatUsers from 'components/chat-users';

import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'ChatLayout',
  components: {
    chatFilesDrawer,
    chatLink,
    chatUsers,
    defaultFooter,
    defaultHeader,
    newChatBtn,
    routerTabs
  },
  data() {
    return {
      leftDrawerOpen: true,
      filesDrawerOpen: true,
      rightMiniState: false,
      leftMiniState: false
    };
  },
  computed: {
    ...mapGetters(['chats', 'chatById', 'onlineUsers']),
    chat() {
      return this.chatById(this.$route.params.id);
    }
  },
  created() {
    this.fetchChats();
  },

  methods: {
    ...mapActions(['fetchChats']),

    rightDrawerClick(e) {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (this.rightMiniState) {
        this.rightMiniState = false;

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation();
      }
    },
    leftDrawerClick(e) {
      if (this.leftMiniState) {
        this.leftMiniState = false;
        e.stopPropagation();
      }
    }
  }
};
</script>
