<template>
  <q-layout>
    <q-layout-header>
      <default-header/>
      <router-tabs/>
      <q-tabs>
        <q-route-tab slot="title" label="FAQ" to="/help" />
      </q-tabs>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <default-footer/>
  </q-layout>
</template>

<script>
import routerTabs from 'components/router-tabs';
import defaultFooter from 'components/default-footer';
import defaultHeader from 'components/default-header';

export default {
  name: 'HelpLayout',
  components: { routerTabs, defaultFooter, defaultHeader }
};
</script>
