<template>
  <q-layout>
    <q-layout-header>
      <default-header/>
      <router-tabs/>
      <q-tabs>
        <q-route-tab slot="title" label="All" to="/meetings" />
        <q-route-tab v-if="isActivist" slot="title" label="New" to="/meetings/new" />
      </q-tabs>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <default-footer/>
  </q-layout>
</template>

<script>
import routerTabs from 'components/router-tabs';
import defaultFooter from 'components/default-footer';
import defaultHeader from 'components/default-header';
import { mapGetters } from 'vuex';

export default {
  name: 'MeetingsLayout',
  components: { routerTabs, defaultFooter, defaultHeader },
  computed: {
    ...mapGetters(['isAdmin', 'isActivist', 'isOrganiser', 'isRoot'])
  }
};
</script>
