<template>
  <q-layout>
    <q-layout-header>
      <default-header/>
      <router-tabs/>
      <q-tabs>
        <q-route-tab slot="title" label="Overview" to="/membership" exact />
        <q-route-tab slot="title" label="Sites" to="/membership/sites" />
        <q-route-tab slot="title" label="Workers" to="/membership/workers" exact />
      </q-tabs>
    </q-layout-header>
    <default-footer/>
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import routerTabs from 'components/router-tabs';
import defaultFooter from 'components/default-footer';
import defaultHeader from 'components/default-header';
export default {
  name: 'MembershipLayout',
  components: { routerTabs, defaultFooter, defaultHeader },
  data() {
    return {};
  }
};
</script>

