<template>
  <q-layout >
    <q-layout-header>
      <q-toolbar color="primary">
        <q-toolbar-title>
          Let's Organise App
          <div slot="subtitle">Modern Trade Union Organising</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <default-footer/>
  </q-layout>
</template>

<script>
import defaultFooter from 'components/default-footer';

export default {
  name: 'OfflineLayout',
  components: { defaultFooter }
};
</script>
